div(class="hero-unit")

  - if (userDisplayName)
    h2 Hello  #{userDisplayName}, Welcome!
    p Share and discover what links between problems, ideas and knowledge.
    p Together we can make science more open and accessible.

  - else
    h2 Welcome to Knownodes
    p Share and discover what links between problems, ideas and knowledge.
    p Together we can make science more open and accessible.
    br
    p
      a(href='/login') Login
    br
    p Please note that we're in prototype phase, and registration is only open for AIV M2 students at the moment, feel free to browse around.