div(class="hero-unit")
    h2 Welcome to #{title}
    - if (userDisplayName)
        p Hello  #{userDisplayName}
    - else
        p Hello Someone! Please&nbsp;
            a(href='/login') Login

p There are {{users.length}} users registered
