a(href="/auth/facebook")
    img(src="img/login/facebook-login-button.png", width="154", height="22")
a(href="/auth/google")
    img(src="img/login/google-login-button.png", width="154", height="22")
