//
    represents a knownode edge in a knownode-specific page
p
    span(class="label label-info") {{knownode.connection.connectionType}}
    span &nbsp;{{concept.title}}
strong {{knownode.connection.title}}
p {{knownode.connection.bodyText}}
p by:
    strong {{knownode.connection.user.firstName}} {{knownode.connection.user.lastName}}