//
   Created with JetBrains WebStorm.
   User: dorgarbash
   Date: 1/9/13
   Time: 2:58 PM
   To change this template use File | Settings | File Templates.

div.addConnection.row
  div.inputMenu(id="toggleText", style="display:none;").span12
    div.connectionWrapper.span12

      form
        legend
          h4.inputHeader Add knownode
        include resourceInput
        include connectionInput
      include resourceInput

  button(onclick="return toggle('toggleText');", style="position:fixed;")
    img(src="img/inputButton.png")

