//
   Created with JetBrains WebStorm.
   User: dorgarbash
   Date: 1/9/13
   Time: 2:58 PM
   To change this template use File | Settings | File Templates.

div.addConnection.row(ng-class="showtoggle")
  div.inputMenu.span13
    h3.inputHeader Add knownode
      a(href="javascript:void(0);", ng-click="showtoggle= toggle('hide')").pull-right
        i.icon-remove
      div.lineSeperator
    .movingEdge.left-align.span12
      include resourceInput
    .movingEdge.left-align.span12
      include connectionInput
    include resource2Input
    div.span12
      button.btn.btn-success.pull-right Submit EVERYTHING
