//
   User: dorgarbash   Date: 1/11/13   Time: 3:38 PM
div.connectionInput.span13
  div.map.span1
    img.edgeBlock(src="img/edgeBlock.png")
  div.span12
    label.control-label(for="connectionTitle").span2 Title
    input(type="text", id="connectionTitle", placeholder="How are they connected?").span9
    label.control-label(for="body").span2 Body
    div.controls
      textarea(rows="2", id="body", placeholder="Enter additional text here(optional)").span9
    div.span12
    include connectionDropdown


