//
   User: dorgarbash   Date: 1/21/13   Time: 7:06 PM

div.dropdown(style="display:inline; z-index:1000; ")
  a.floater(href="#", data-toggle="dropdown", style="display:inline; position:relative;") [Choose connection Type]
  ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu")
    li.dropdown-submenu
      a(tabindex='-1', href='#') Understanding
      ul.dropdown-menu(style="width:50px;")
        li.dropdown
          a(tabindex='-1', href='#') is an example of
        li.dropdown
          a(tabindex='-1', href='#') is a tutorial of
        li.dropdown
          a(tabindex='-1', href='#') is cited by
        li.dropdown
          a(tabindex='-1', href='#') is a source of
        li.dropdown
           a(tabindex='-1', href='#') discusses
        li.dropdown
          a(tabindex='-1', href='#') extends
        li.dropdown
          a(tabindex='-1', href='#') gives background to
        li.dropdown
          a(tabindex='-1', href='#') is an opinion on
        li.dropdown
          a(tabindex='-1', href='#') transformation of
        li.dropdown
          a(tabindex='-1', href='#') was created by
        li.dropdown
          a(tabindex='-1', href='#') instance of
        li.dropdown
          a(tabindex='-1', href='#') participant of
        li.dropdown
          a(tabindex='-1', href='#') contained in
        li.dropdown
          a(tabindex='-1', href='#') located in
        li.dropdown
          a(tabindex='-1', href='#') adjacent to

    li.dropdown-submenu
      a(tabindex='-1', href='#') Questioning
      ul.dropdown-menu(style="width:50px;")
        li.dropdown
          a(tabindex='-1', href='#') questions
        li.dropdown
          a(tabindex='-1', href='#') contradicts
        li.dropdown
          a(tabindex='-1', href='#') critiques
        li.dropdown
          a(tabindex='-1', href='#') disputes
        li.dropdown
          a(tabindex='-1', href='#') derides
        li.dropdown
          a(tabindex='-1', href='#') disagrees with
        li.dropdown
          a(tabindex='-1', href='#') is ridiculed
    li.dropdown-submenu
      a(tabindex='-1', href='#') Inspiring
      ul.dropdown-menu(style="width:50px;")
        li.dropdown
          a(tabindex='-1', href='#') raises the question
        li.dropdown
          a(tabindex='-1', href='#') offer a unique persperctive on
        li.dropdown
          a(tabindex='-1', href='#') is strangely related to
        li.dropdown
          a(tabindex='-1', href='#') reminds me of
        li.dropdown
          a(tabindex='-1', href='#') laughs about
        li.dropdown
          a(tabindex='-1', href='#') is an interesting take on
        li.dropdown
          a(tabindex='-1', href='#') is a possible application
        li.dropdown
          a(tabindex='-1', href='#') is a recommended reading of
        li.dropdown
          a(tabindex='-1', href='#') is parodied
    li.dropdown-submenu
      a(tabindex='-1', href='#') Proving
      ul.dropdown-menu(style="width:50px;")
        li.dropdown
          a(tabindex='-1', href='#') confirms
        li.dropdown
          a(tabindex='-1', href='#') is an evidence of
        li.dropdown
          a(tabindex='-1', href='#') agrees with
        li.dropdown
          a(tabindex='-1', href='#') Contains data of
        li.dropdown
          a(tabindex='-1', href='#') is corrected by
        li.dropdown
          a(tabindex='-1', href='#') supports
        li.dropdown
          a(tabindex='-1', href='#') is refuted
