//
   User: dorgarbash   Date: 1/17/13   Time: 4:40 PM

  div.dropdown(style="display:inline; z-index:1000;")
    a(href="#", data-toggle="dropdown", style="display:inline;") [Choose Resource Type]
    ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu")
      li.dropdown-submenu
        a(tabindex='-1', href='#') Expands on
        ul.dropdown-menu
          li.dropdown-submenu
            a(tabindex='-1', href='#') Another action
          li.dropdown-submenu
            a(tabindex='-1', href='#') Something else here
      li.dropdown
        a(tabindex='-1', href='#') Another action
      li.dropdown-submenu
        a(tabindex='-1', href='#') Something else here
