doctype 5
html(ng-app="KnowNodesApp")
  head
    meta(charset='utf8')
    base(href='/')
    title= title
    link(rel='stylesheet', href='/css/angular-ui.min.css')
    link(rel='stylesheet', href='/css/smoothness/jquery-ui-1.9.2.custom.min.css')
    link(rel='stylesheet', href='/css/style.css')
    //link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css')
    //link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/bootstrap-datepicker.css')
    link(rel='stylesheet', href='/css/bootstrap-timepicker.css')
    body
    include partials/topBar
    div(class="container-fluid", style='margin-top:50px')
        div(class="container")
            block content