doctype 5
html(ng-app="KnowNodesApp")
  head
    meta(charset='utf8')
    base(href='/')
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/angular-ui.min.css')
    link(rel='stylesheet', href='/css/smoothness/jquery-ui-1.9.2.custom.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content