h2 Register
form(ng-submit='submitUser(user)')
    p
        label(for='email') Your eMail:
        input(type='email', ng-model='user.email', name='email', required)
    p
        label(for='password') Password:
        input(ng-model='user.password', name='password', type='password', required)
    p
        label(for='firstName') First Name:
        input(ng-model='user.firstName', type='text', name='firstName', required)
    p
        label(for='lastName') Last Name:
        input(ng-model='user.lastName', type='text', name='lastName', required)
    p
        label(for='dataOfBirth') Date Of Birth(dd/mm/yyyy):
        input(ng-model='user.dataOfBirth', name='dataOfBirth', type='text', required)
    p
        button(type='submit', class='btn btn-primary', ng-disabled="loginForm.$invalid") Add Me!