div.span11.offset1(ng-controller="LoginCtrl")

  form(ng-submit='performLogin()').span6
    h2 Login
    div(class="text-error", ng-show='loginerror')
      p We're in closed beta. If something with the username or password we provided isn't working. please contact us :)
    p
      label(for='username') eMail:
      input(ng-model='loginForm.username', name='username', type='email', autofocus, required)
    p
      label(for='password') Password:
      input(ng-model='loginForm.password', name='password', type='password', required)
    p
      button(type="submit", ng-disabled="loginForm.$invalid", class='btn btn-success') Log me in!
  div.span4
    h2.span4 Or
    div.span5
      a(href="/auth/facebook", target='_self')
        img(src="img/login/facebook-login-button.png")
    div.span5 &nbsp;
      a(href="/auth/google", target='_self', class="btn btn-large btn-block btn-primary", type="button")
        img(src="img/login/google-login-button.png")
        span Login with Google
    div.span5 &nbsp;
      a(href='addUser') Create a new account
