.center-div {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.topbar-gap {
  height: 70px;
}
.topbar {
  position: fixed;
  min-width: 650px;
  left: 5px;
  top: 5px;
  background: white;
  z-index: 1000;
}
.topbar-login {
  text-align: none;
}
.topbar-logout {
  color: lightgrey;
  margin-left: 5px;
}
.topbar-logo {
  height: 40px;
  padding: 10px;
}
.topbar-search {
  width: 50%;
  margin-right: 5px;
}
