@light-beige :      #F2F0F0;
@white :            #FFFFFF;
@light-yellow :     #FFF2A2;
@light-green :      #B0E1B7;
@light-blue :       #A4C8E4;
@dark-grey :        #5A595C;
@light-grey :       #BAB9B9;

.test {
  color:@white;
}
