@sansFontFamily:      Roboto, Arial, sans-serif;

@baseFontSize:        14px;
@baseFontFamily:      @sansFontFamily;

.center-div{
  width:              100%;
  margin-left:        auto;
  margin-right:       auto;
}

.center-img{
  display:            block;
  margin-left:        auto;
  margin-right:       auto;
}



.topbar-gap {
  height:70px;
}

.explain {
	background: @color-explain;
}

.inspire {
	background: @color-inspire;
}

.critique {
	background: @color-critique;
}

