.button-base {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 4px 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  vertical-align: middle;
  border: transparent;
  cursor: pointer;

  &:hover {
    position: relative;
    top: 2px;
    text-decoration: none;
    text-shadow: none;
  }

  &:active {
    position: relative;
    top: 4px;
    text-decoration: none;

  }
}

.button-a {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  font: 1em/25px "Roboto", sans-serif;
  border-radius: 4px;
  box-shadow: 0 4px 0;
  text-decoration: none;
}

.button:hover {
  position: relative;
  box-shadow: 0 2px 0;
  top: 2px;
}

.button:active {
  position: relative;
  box-shadow: none;
  top: 4px;
}
/* BUTTON COLORS */

.button-inspire {
  width: 110px;
  height: 25px;
  background: @inspire-color;
  box-shadow: 0 4px 0 @inspire-shadow;
  color: @inspire-content;
  border-radius: 0;
  &:hover{
    color: @inspire-content;

    box-shadow: 0 2px 0 @inspire-shadow;
    text-decoration: none;
    background: @inspire-color;
  }

  &:active {

    color: @inspire-content;

    box-shadow: none;
    text-decoration: none;
    background: @inspire-color;
  }

  &:focus {
    color: @inspire-content;
    text-decoration: none;
    background: @inspire-color;
  }

}

.btn.button-inspire.active {
  box-shadow: none;
  text-decoration: none;
  background: @inspire-color;
  color: @inspire-content;
  top: 4px;

  &:hover{
    box-shadow: none;
    text-decoration: none;
    background: @inspire-color;
    top: 4px;
  }

  &:active {
    box-shadow: none;
    text-decoration: none;
    background: @inspire-color;
    top: 4px;
  }

  &:focus {
    color: @inspire-content;
    text-decoration: none;
    background: @inspire-color;
  }

}
.button-explain{
  width: 110px;
  height: 25px;
  background: @explain-color;
  box-shadow: 0 4px 0 @explain-shadow;
  color: @explain-content;
  border-radius: 4px 0 0 4px;

  &:hover{
    box-shadow: 0 2px 0 @explain-shadow;
    text-decoration: none;
    background: @explain-color;
  }

  &:active {
    box-shadow: none;
    text-decoration: none;
    background: @explain-color;
  }

  &:focus {
    color:@explain-content;
    text-decoration: none;
    background: @explain-color;
  }
}

.btn.button-explain.active {
  box-shadow: none;
  text-decoration: none;
  background: @explain-color;
  color: @explain-content;
  top: 4px;

  &:hover{
    box-shadow: none;
    text-decoration: none;
    background: @explain-color;
    top: 4px;
  }

  &:active {
    box-shadow: none;
    text-decoration: none;
    background: @explain-color;
    top: 4px;
  }
  &:focus {

    color:@explain-content;
    text-decoration: none;
    background: @explain-color;
  }

}


.button-critique{
  width: 110px;
  height: 25px;
  background: @critique-color;
  box-shadow: 0 4px 0 @critique-shadow;
  color: @critique-content;
  border-radius: 0px 4px 4px 0px;

  &:hover{
    box-shadow: 0 2px 0 @critique-shadow;
    text-decoration: none;
    background: @critique-color;
  }

  &:active {
    box-shadow: none;
    text-decoration: none;
    background: @critique-color;
  }

  &:focus {

    color:@critique-content;
    text-decoration: none;
    background: @critique-color;
  }
}

.btn.button-critique.active {
  box-shadow: none;
  text-decoration: none;
  background: @critique-color;
  color: @critique-content;
  top: 4px;

  &:hover{
    box-shadow: none;
    text-decoration: none;
    background: @critique-color;
    top: 4px;
  }

  &:active {
    box-shadow: none;
    text-decoration: none;
    background: @critique-color;
    top: 4px;
  }

  &:focus {

    color:@critique-content;
    text-decoration: none;
    background: @critique-color;
  }
}

.button-dark{
  position:relative;
  width: 95px;
  height: 25px;
  background: @grey60;
  box-shadow: 0 4px 0 @grey65;
  color: @white;
  text-decoration: none;

  &:hover{
    top: 2px;
    box-shadow: 0 2px 0 @grey65;
    color:white;
    text-decoration: none;
    background: @grey60;
  }

  &:active {
    top: 4px;
    box-shadow: none;
    color:white;
    text-decoration: none;
    background: @grey60;
  }
  &:focus {

    color:@white;
    text-decoration: none;
    background: @grey60;
  }

}

.button-default{
  width: 90px;
  height: 25px;
  background: @grey05;
  box-shadow: 0 4px 0 @grey15;
  color: #666666;
  &:hover{
    box-shadow: 0 2px 0 @grey15;
    text-decoration: none;
    background: @grey05;
  }

  &:active {
    box-shadow: none;
    text-decoration: none;
    background: @grey05;

  }
}

.button-voteup{
  width: 25px;
  height: 25px;
  background: white;
  box-shadow: 0 4px 0 @grey15;
  color: #666666;
  position: absolute;
  right: 0px;
  top: -11px;

  &:hover{
    box-shadow: 0 2px 0 @grey15;
    text-decoration: none;
    background: white;
  }

  &:active {
    box-shadow: none;
    text-decoration: none;
    background: white;
  }

}

.button-base.button-voteup {
  &:hover{
    top:-9px;
    position:absolute;
    box-shadow: 0 2px 0 @grey15;
    text-decoration: none;
    background: white;
  }

  &:active {
    top:-7px;
    position:absolute;
    box-shadow: none;
    text-decoration: none;
    background: white;
  }
}

.button-voteup.active {
  box-shadow: none;
  text-decoration: none;
  background: white;
  top: -7px;

  &:hover{
    box-shadow: none;
    text-decoration: none;
    background: white;
    top: -7px;
  }

  &:active {
    box-shadow: none;
    text-decoration: none;
    background: white;
    top: -7px;
  }

}

.button-votedown{
  width: 25px;
  height: 25px;
  background: white;
  box-shadow: 0 4px 0 @grey15;
  color: #666666;
  position: absolute;
  right: 0px;
  top: 51px;

  &:hover{
    box-shadow: 0 2px 0 @grey15;
    text-decoration: none;
    background: white;
  }

  &:active {
    box-shadow: none;
    text-decoration: none;
    background: white;
  }

}

.button-base.button-votedown {
  &:hover{
    top: 53px;
    position:absolute;
    box-shadow: 0 2px 0 @grey15;
    text-decoration: none;
    background: white;
  }

  &:active {
    top: 55px;
    position:absolute;
    box-shadow: none;
    text-decoration: none;
    background: white;
  }
}

.button-votedown.active {
  box-shadow: none;
  text-decoration: none;
  background: white;
  top: 55px;

  &:hover{
    box-shadow: none;
    text-decoration: none;
    background: white;
    top: 55px;
  }

  &:active {
    box-shadow: none;
    text-decoration: none;
    background: white;
    top: 55px;
  }

}


.button-submit{
  width: 75px;
  height: 28px;
  background: @submit-color;
  box-shadow: 0 4px 0 @submit-shadow;
  color: @white;
  font: 1em/28px "Roboto", sans-serif;

  &:hover{
    box-shadow: 0 2px 0 @submit-shadow;
    text-decoration: none;
    background: @submit-color;
  }

  &:active {
    box-shadow: none;
    text-decoration: none;
    background: @submit-color;

  }

}

.btn.active {
  color:@active-red;
  background-color:transparent;
  box-shadow:none;
  -webkit-box-shadow:none;
}

.button-notification {
  padding: 10px;
  margin-top: 12px;
  height: 15px;
  position:relative;
}
.notification-count{
  position: absolute;
  top: -7px;
  right: -4px;
  padding-left: 7px;
  padding-right: 7px;
  background: #a82400;
  font-size: .8em;
  color: #fff;
  border-radius: 10px;
}

.together-js-button{
  position: fixed;
  right: 5px;
  bottom: 350px;
  background: #0095DD;
}