.topbar {
  position: fixed;
  min-width: 650px;
  left: 5px;
  top: 5px;
  background: white;
  z-index: 1000;
}
.topbar-login {
  text-align: none;
}
.topbar-logo {
  height: 40px;
  padding: 10px;
}
.topbar-search {
  width: 50%;
  margin-left: 5px;
}
