.scrap-body {
  width:100%;
}
.scrap-body-text {
  width:50%;
  float:left;
  margin-right:1em;
}

.scrap-body-img {
  width:40%;
}

.create-resource {
  width:100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background: none;
  &:hover {
    background: light-grey;

  }
}

