//overrided bootstrap little arrow in submenu
.input-interface {
  margin-left: 0px;
  margin-bottom: 0px;
}

.input-triplet {
  margin-bottom: 0px;
  max-width: 500px;
  font-size: 18px;
}

.dropdown-submenu > a:after {
  display: none;
  content: " ";
  float: none;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: none;
  border-width: none;
  margin-top: none;
  margin-right: none;
}

.counter{
  color: #717577;
  cursor: default;
}

.counter:hover{
  color: #717577;
  cursor: default;
}

.explain-button {
  background: @explain-color;
  &:hover {
    background: darken(@explain-color, 10%);
  }
  &.active,
  &:active {
    background-image: none;
    outline: 0;
    background: darken(@explain-color, 10%);
  }

}

.inspire-button {
  background: @inspire-color;
  &:hover {
    background: darken(@inspire-color, 10%);
  }
  &.active,
  &:active {
    background-image: none;
    outline: 0;
    background: darken(@inspire-color, 10%);
  }

}

.critique-button{
  background: @critique-color;
  &:hover  {
    background: darken(@critique-color, 10%);
  }
  &.active,
  &:active {
    background-image: none;
    outline: 0;
    background: darken(@critique-color, 10%);
  }

}

.input-link-type {
  margin-top:20px;
}

.input-link-type-text{

  color: @grey60;
}

.input-link-type-buttons {
  margin-bottom: 20px;
}

.input-clear {
  position: absolute;
  right: 29px;
  top: 22px;
  opacity: 0.4;
}

div.input-indicator{
  display: block;
  position:relative;
  margin-top:5px !important;
  margin-bottom:15px;
  z-index:1;
  max-width:22em;
}

a.tutorial-toggle {
  color: @grey20;
  &:hover {
    text-decoration: none;
    color: @grey20;
  }
  cursor:pointer;
  margin-left: (8 * @spacing);
}