//
   Created with JetBrains WebStorm.
   User: Liad Magen
   Date: 11/1/13
   Time: 01:18

#addKnownodeConcept
    h2 Add a new concept
    form(ng-submit='submitConcept()', ng-init="scope = { isDisabled: false }")
        p
            label(for='title') Title:
            input(ng-model='conceptForm.title', name='title', style='width:500px', type='text', autofocus, required)
        p
            label(for='bodyText') Abstract:
            textarea(ng-model='conceptForm.bodyText', name='bodyText', required, style='width:500px; height:400px')
        p
            label(for='partner') Presented by:&nbsp;
                span #{userDisplayName} and &nbsp;
            input(ng-model='conceptForm.partner', name='partner', type='text', required, userAutoComplete)
        p
            label(for='presentationDate') Presentation Date:
            input(ng-model='conceptForm.presentationDate', name='presentationDate', type='text', ui-date, required)
        p
            button(type='submit', class='btn btn-primary', ng-disabled="conceptForm.$invalid || {{scope.isDisabled}}") Add Concept