//
   Created with JetBrains WebStorm.
   User: Liad Magen
   Date: 10/12/12
   Time: 18:14
   To change this template use File | Settings | File Templates.

#addKnownodeStep1
    form(method="post", enctype="multipart/form-data")
        h2 Add a new knownode article
        p
            label(for='title') Title:
            input(ng-model='form.title', name='title')
        p
            label(for='url') URL:
            input(ng-model='form.url', name='url')
        p
            label(for='bodyText') Abstract:
            textarea(ng-model='form.bodyText', name='bodyText')
        p
            label(for='articleFile') File:
            input(ng-model='form.file', name='file', type='file', ng-model-instant, multiple, onchange="angular.element(this).scope().setFiles(this)")
        div(id="dropbox", class="dropbox", ng-class="dropClass")
            span
                {{dropText}}
        div(ng-show="files.length")
        div(ng-repeat="file in files.slice(0)")
            span
                {{file.webkitRelativePath || file.name}}
            span(ng-switch="file.size > 1024*1024")
                span(ng-switch-when="true")
                    {{file.size / 1024 / 1024 | number:2}} MB
                span(ng-switch-default)
                    {{file.size / 1024 | number:2}} kB
        input(type="button",ng-click="uploadFile()",value="Upload")
        div(ng-show="progressVisible")
            div(class="percent")
                {{progress}}%
            div(class="progress-bar")
                div(class="uploaded", ng-style="{'width': progress+'%'}")
        p
            button(ng-click='submitPost()') Next >