div.connection.span6
  //div.map.span1
    img(src="/img/edgeBlock.png", width="25")
  //div.content.span6
    a.title {{edge.title}}
    div.lineSeperator
    p.body
      small {{edge.body}}
  div.tagLine
    p.connectionType
      small {{edge.connectionType}}
    p.infoLine 3 hours ago, by Dor Garbash
    div(style="clear:both")
//div.buttons.span1
  a(href="/parallel:#")
    img(src="/img/parallel.png", href="/parallel:#")
