//
   Created with JetBrains WebStorm.
   User: dorgarbash
   Date: 1/9/13
   Time: 2:57 PM
   To change this template use File | Settings | File Templates.

div.connection.span12
  div.map.span1
    img.edge-map-icon(src="/img/edgeBlock.png", width="20")
  div.content.span10
    a.title {{edge.title}}
    div.lineSeperator
    p.body
      small {{edge.body}}
    div.tagLine
      p.connectionType
        small {{edge.connectionType}}
      p.infoLine 3 hours ago, by Dor Garbash
      div(style="clear:both")

  //div.buttons.span1
    a(href="/parallel:#")
      img(src="/img/parallel.png", href="/parallel:#")
