// User: dorgarbash
   Date: 1/9/13
   Time: 3:03 PM
   To change this template use File | Settings | File Templates.

  div.knownode.span12
    .movingEdge.left-align.span12
      include resource1
    .movingEdge.left-align.span12
      include connection
    .left-align.span12
      include resource2
  | &nbsp;