
div.map.span1#map
  a(href="/concept/relatedTo/{{edge.source1.id}}")
    img(src="/img/node.png")
div.resourcecontent.span10#content
  a.title(href="/concept/relatedTo/{{edge.source1.id}}") {{edge.source1.title}}
    a(href="{{edge.source1.url}}")
      img(src="/img/openInNewWindow.png", width="18px")
  div.lineSeperator
  p.body
    span
      small {{edge.source1.body}}
  p.tagLine
    p.knowledgeDomain
      small {{edge.source1.knowledgeDomain}}


  span.resourceType
      small [ {{edge.source1.resourceType}} ]&nbsp;

div.span1.buttonhack
  a.addButton.clicker
    img(src="/img/addIcon.png", width="15px", class="example")
    div.popup.popover.fade.right.in(id="popover")
      div.arrow
      div.popover-inner
        h3.popover-title Input as
        img(src="img/inputAsNodes.png", style="float:left; margin-top:6px;")
        div.popover-content Node1
        div.popover-content Node2
        div.popover-content Set a parallel link



