div.container-fluid
  div.topbar-gap &nbsp
  div.row-fluid.hack
    div.span12.offset6.about
      h2 P2P Science Alliance
      h3 The open network of collaborations in science.
      h4 Create, discover, and share connections between researchers, innovators, and curious individuals.

      br
      br
      h3 What Is It?
      p(style="margin:0px")  Using this platform you can create your own open peer-to-peer network of the ongoing or potential collaborators. This network is shared with others, so they can build upon it and add their own connections to it.
      p(style="margin:0px")  As a result, we get an open, shared, p2p network of social relations that is not driven by recommendation algorithms and career ambitions, but solely by a shared protocol and a desire to work together and do something great.
      br
      figure.label.inside.bottom(data-label="Example of some P2P Science Alliances")
           img(src="/img/frontpage1.png")
      br
      br
      h3 How It Works?
      br
      ul
          li Create an account.
          li Add your own Peer.
          li Add someone you’ve worked with or that you want to work with.
          li Describe the nature of the collaboration.
          li Reiterate. Create your own network of collaborators.
          li Expect that someone contacts you for a collaboration.
          li Expect that someone expands your network with their collaborations you don’t know of.
      br
      figure.label.inside.bottom(data-label="Example of some P2P Science Alliances")
              img(src="/img/about-p2p.png")

      br
      br

      h3 What Is It?
      p(style="margin:0px")  Existing closed social networks constrain innovation, treat us as commodity and prevent potential collaborations to emerge.
      br
      p(style="margin:0px")  We offer an alternative.
      br
      p(style="margin:0px")  We say that having just one connection that is inspiring on both ends is worth much more than being acquainted with 100 people.
      br
      p(style="margin:0px")  We say none of us is as smart as all of us.
      br
      p(style="margin:0px")  It does not matter what country you come from.
      p(style="margin:0px")  It does not matter what your beliefs are.
      p(style="margin:0px")  It does not matter what your discipline is.
      br
      p(style="margin:0px")  What matters is the desire to create cross-network connections between various fields.
      p(style="margin:0px")  What matters is the desire to bond on the basis of mutual fascination.
      p(style="margin:0px")  What matters is the basic building block of any community: relations between individuals.
      br
      p(style="margin:0px")  When two individuals come together and connect here, a P2P Alliance is born. When more people join, the alliance network becomes stronger as it benefits from cross-network ties.
      p(style="margin:0px")  This is a creative space that is not weighed down by institutional regulations, geographical borders, ideologies and bureaucracy. It is propelled by enthusiasm of its members, each of whom brings their knowledge, expertise and resources into the alliance.
      br
      br
      h3 Going forward with the p2p science alliance
      p(style="margin:0px")  We have many plans how to go further with the platform. Want to join in the effort? Create a p2p alliance with us! Visit our profiles on P2P Science Alliance:
       a(href='/user/2d47867f-c599-4209-bcdc-6b32bc60150f')  Dor,
       a(href='/user/2d47867f-c599-4209-bcdc-6b32bc60150f')  Mikael,
       a(href='/user/2d47867f-c599-4209-bcdc-6b32bc60150f')  Dmitry
      br
      br
      h3 The Platform Behind the Platform
      br
      figure.label.inside.bottom(data-label="The team hard at work at last year's hackathon.")
      img(src="/img/hackanode.jpg")
      br
      br
      p P2P Science Alliance runs on Knownodes platform, which is an open source, free, rich-edge triplet-store system in public domain. Knownodes has been designed from the outset to promote the advance of open science, free knowledge, and cross-disciplinary collaborative practices.
      | You can learn more about the platform on
      a(href='http://www.knownodes.com')  www.knownodes.com
      br
      br
      br
      br
