div.container-fluid
  div.topbar-gap &nbsp
  div.row-fluid.hack
    div.span12.offset6.about
      h2 About Knownodes

      p(style="margin:0px") Knownodes is a decentralised way for  groups of people with different needs to organise
        | their knowledge and actions in an open way.
      br
      p This website is a sandbox, a playful example of current features, and a place for you to rapidly prototype
        | your own use case. Feel free to register, participate and figure out how this system can work for you.


      h2 What's special about Knownodes
      ul
        li It allows different perspectives on connections to be displayed in the same time
        li It makes connection evolvable and interactive
        li You can keep in stay updated by what interests you by "following" any resource
        li Everything is open by default.

      h2 Use cases

      p(style="margin:0px")  We work together with you, the stakeholder, in developing a solution for your use case,
        | whether it's in education, research or any other case where you want people to collaborate about knowledge and ideas.

      br

      p(style="margin:0px") We are currently developing the following use-cases:

      ul
        li A way for CRISPR researchers to rapidly publish and explore data and assertions in real-time.

        li A way for activists in the open science community to share and coordinate their collaborations.&nbsp;
          a(ng-href="http://www.libreop.us") P2pP Science Alliance website

        li A system for people to connect between open learning resources, wikipedia and MOOCs. For which we won an award at the&nbsp;
          a(ng-href="http://linkedup-project.eu/2013/09/09/knownodes-opening-knowledge-one-connection-at-a-time/") LinkedUp competition
        li A MOOC companion for an upcoming MOOC in synthetic biology.

        li A tool to annotate relationships between packaged modules in npm.

      h2 How to be a part of this
      p(style="margin:0px") Interested in working with us or joining an existing project?
        | Join our&nbsp;
        a(ng-href="https://groups.google.com/forum/#!forum/knownodes") google group
      p (Sent once/twice a month. Easy to unsubscribe later)
        br
        | &nbsp;For the source code and instruction on starting an instance go to our&nbsp;
        a(ng-href="https://github.com/CyberCRI/KnowNodes") github page

      br

      p(style="margin:0px") Beyond the technology itself, we also organise&nbsp;
           a(ng-href="http://stps.co/r/0EBJTGN/") workshops in labs and organisations.
           | We would be happy to facilitate or help you organise one for your own community.
           | Three times a year we organise a hackathon where we work together to add new features to the system.
           br
           | Next one is happening is Nov 28 - Dec 03&nbsp;
           a(ng-href="https://docs.google.com/document/d/1aM1i7Cfdwet1uFdTGtwkos5RZ7prxIeRMR2Pp1WB0z0/edit") It's not too late to join!
      br

      figure.label.inside.bottom(data-label="The team hard at work at last year's hackathon.")
        img(src="/img/hackanode.jpg")

      p Knownodes is part of a Phd project by Dor Garbash supervised by Dr. Ariel Lindner.
       | It was built by Liad Magen, Mikael Couzic, Alexandre Lejenue, Jesse Himmelstein, Dmitry Paranyushkin, Bruno Martin, Raphael Goujet, and many more and nurtured in the&nbsp;
       a(href="http://www.cri-paris.org/en/cri/") CRI
       | &nbsp;and&nbsp;
       a(href="http://citizencyberlab.eu/") Citizen Cyberlab.

      p We are constantly looking for new people and organisation to work with, Don't be a stranger: knownodes@gmail.com!

      img(src="/img/parallel_universe.png")