div.container-fluid
  div.topbar-gap &nbsp
  div.row-fluid.hack
    div.span12.offset6.about
      h2 P2P Science Alliance
      h3 The open network of collaborations in science.
      h4 Create, discover, and share connections between scientists, inventors, and curious individuals.

      br
      br
      h3 What Is It?
      p(style="margin:0px")  Using this platform you can create your own open peer-to-peer network of the ongoing or potential collaborators. This network is shared with others, so they can build upon it and add their own connections to it.
      p(style="margin:0px")  As a result, we get an open, shared, p2p network of social relations that is not driven by recommendation algorithms and career ambitions, but solely by a shared protocol and a desire to work together and do something great.

      br
      br
      h3 How It Works?
      br
      ul
          li Create an account.
          li Add your own Peer.
          li Add someone you’ve worked with or that you want to work with.
          li Describe the nature of the collaboration.
          li Reiterate. Create your own network of collaborators.
          li Expect that someone contacts you for a collaboration.
          li Expect that someone expands your network with their collaborations you don’t know of.


      br
      br

      h3 The Platform Behind the Platform
      br
      figure.label.inside.bottom(data-label="The team hard at work at last year's hackathon.")
      img(src="/img/hackanode.jpg")

      br
      br
      p P2P Science Alliance runs on Knownodes platform, which is an open source, free, rich-edge triplet-store system in public domain. Knownodes has been designed from the outset to promote the advance of open science, free knowledge, and cross-disciplinary collaborative practices.
      | You can learn more about the platform on www.knownodes.com
      br
      br

