div.container-fluid
  div.topbar-gap &nbsp
  div.row-fluid.hack
   div.span12.offset6.about
     h1 About Knownodes
     a(href="https://etherpad.mozilla.org/DKGJM2UrN0") Join in to the discussion!!
     //iframe(width="1280", height="720", src="//www.youtube.com/embed/8yYWILv91YU?rel=0&autoplay=1&start=178&end=206&loop=1&playlist=8yYWILv91YU", frameborder="0", allowfullscreen)
     //a(href="http://imgur.com/jLQQdf8")
       img(src="http://i.imgur.com/jLQQdf8.gif", title="Hosted by imgur.com")
     h3(style="margin:0px") Knownodes is a new way to create and explore connections.
       | It allows regular people to make the web a better place by providing context to knowledge, concepts and ideas.
     h3 It's a great way to share knowledge between friends and colleagues, and discover new things!
     br

     h3(style="margin:0px")  Knownodes is unique in allowing different perspectives on connections to be displayed in the same time.
       | For instance, if you are unsatisfied with a connection someone made, you can just create one of your own. Both will be displayed.
       | You can also peer-review connections made by others by voting or commenting on them.
     br

     h3(style="margin:0px") Beyond the technology itself, we also organise &nbsp;
       a(href="http://stps.co/r/0EBJTGN/") workshops in labs and organisations.
       | We would be happy to facilitate or help you organise one for your own community.
       | Three times a year we organise a hackathon where we work together to add new features to the system.
     br

     figure.label.inside.bottom(data-label="The team hard at work at last year's hackathon.")
       img(src="/img/hackanode.jpg")

     h3(style="margin:0px") Knownodes is based on a very simple idea, people find it useful for different purposes and keep finding new ones.&nbsp;
       a(href="/resource/5262bfd2-b77b-48bf-8cd1-1dfbd884a187") Students use it as a companion for university&nbsp;
       | and&nbsp;
       a(href="/resource/cfd60a96-b430-4156-b534-2705e08b831d") online courses.&nbsp;
       a(href="/resource/2b3f1592-d48a-4daa-a473-20df49c31f2d") Researchers share research.&nbsp;
       a(href="/resource/7c03ddca-3446-4fad-a723-d914dbdfbed3") Hackers share projects.&nbsp;
       a(href="/article/78352ced-98d4-4175-b90b-edd9f9f8a243") Developers document libraries and technologies.&nbsp;
       | A lot of people just use it as a simple way to communicate ideas and share online resources.

     h3 Knownodes is part of a Phd project by Dor Garbash and supervised by Dr. Ariel Lindner.
       | It was built and nurtured in the&nbsp;
       a(href="http://www.cri-paris.org/en/cri/") CRI
       | &nbsp;and&nbsp;
       a(href="http://citizencyberlab.eu/") Citizen Cyberlab.

     h3 Get in touch at knownodes@gmail.com!

   img(src="/img/parallel_universe.png")