div.subheader
  div.topbar-gap &nbsp
  div.span23.offset1
    h2.subheader Register
    form(name="loginForm", ng-submit='submitUser(user)')
      p
        label(for='email') Your eMail:
        input(type='email', ng-model='user.email', name='email', required)
      p
        label(for='password') Password:
        input(ng-model='user.password', name='password', type='password', required)
      p
        label(for='firstName') First Name:
        input(ng-model='user.firstName', type='text', name='firstName', required)
      p
        label(for='lastName') Last Name:
        input(ng-model='user.lastName', type='text', name='lastName', required)
      p
        button(type='submit', class='btn btn-primary', ng-disabled="loginForm.$invalid") Add Me!