div.container-fluid
  div.topbar-gap &nbsp
  div.row-fluid
    div.span9.offset3(style="margin:0px;")
      div(triplet-input).input-interface

    div.connection-triplet.span9.offset3
      div(ng-repeat="triplet in knownodeList | orderBy: orderProp", ng-switch on="triplet.otherResource.id == triplet.connection.fromNodeId")
        div(ng-switch-default)
          div.triplet
            div(start-resource)
            div(connection)
            div(end-resource)
            div(info-line)

        div(ng-switch-when="true")
          div.triplet
            div(end-resource)
            div(connection)
            div(start-resource)
            div(info-line)


    div.span21.offset3
      div(comment-section='{{knownode.connection.KN_ID}}')

