div.container-fluid
  div.topbar-gap &nbsp

  div.row-fluid.hack
    div.alert.alert-block.intro-box.span21.offset3
      button.close(type="button", data-dismiss="alert") &times;
      div.span6
        h3 What would you do if you could freely collaborate with anyone?
        br
        h3 P2P Science Alliance is a place for you to openly create, share and suggest collaborations in open science.
        a.btn.btn-inverse(href="/about") &nbspLearn more
      h4.span15.offset1 Here's how it works:
      div.span5.offset1
        img.intro-img(src="/img/frontpage1.png")
        h4 Choose two peers that work together or should collaborate.
      div.span5
        img.intro-img(src="/img/frontpage2.png")
        h4 Describe the purpose of the collaboration.
      div.span5
        img.intro-img(src="/img/fg-frontpage.png")
        h4 The collaboration is now a part of a collective open graph.
  div.row-fluid
    div.span9.offset3
      div(triplet-input).input-interface
    div.location-info.span9.offset3
      accordion
        accordion-group(heading="P2P Science Alliance helps you connect with other researchers and share your collaborator networks. You can: ", is-open='true')
          div.knowode-body
            p
              strong Explore
              span &nbsp;the existing collaboration networks
            p
              strong Add
              span &nbsp;your own collaborations, both ongoing and potential ones
            p
              strong Vote and Comment
              span &nbsp;on any collaboration that is yours or somebody else's
            p
              strong Search
              span &nbsp;our database using the search box on the top
            p
              strong Suggest
              span &nbsp;possible collaborations, both for yourself and for the others
            p
              strong Self-organize
              span &nbsp;with other collaborators and networks to do projects together



  div.span21.offset3.sort-div(style="margin-left:0px")
    span.btn.btn-link.sort-header sort:
    div.btn-group(data-toggle="buttons-radio")
      button.btn.btn-link(type="button", ng-click="orderProp='-connection.__CreatedOn__'") New
      button.btn.btn-link.active(type="button", ng-click="orderProp='-(upvotes - downvotes)'") Popular


    //button.btn.btn-link(type="button", ng-click="orderProp='votes'") Popular
  div(triplet-list)