div.container-fluid
  div.topbar-gap &nbsp

  div.row-fluid.hack
    div.alert.alert-block.intro-box.span21.offset3(ng-hide="isUserLoggedIn")
      button.close(type="button", data-dismiss="alert") &times;
      div.span6
        h3 An open tool for everyone to share and create 2.0 connections.
        br
        h3 Connecting without permission, in the open, making the web a better place.

        a.btn.btn-inverse(href="/about") &nbspLearn more
      h4.span15.offset1 Here's how it works:
      div.span5.offset1
        img.intro-img(src="/img/frontpage1.png")
        h4 You pick two online resources or ideas you wish to connect.
      div.span5
        img.intro-img(src="/img/frontpage2.png")
        h4 You assert how these two are connected.
      div.span5
        img.intro-img(src="/img/fg-frontpage.png")
        h4 Your connection becomes a part of an open and collective knowledge network.
  div.row-fluid
    div.span9.offset3
      div(triplet-input).input-interface

    div.location-info.span9.offset3
      accordion
        accordion-group(heading="Below is a list of top connections other people have created. You can: ", is-open='true')
          div.knowode-body
            p
              strong Explore
              span &nbsp;any resource or connection by clicking on them
            p
              strong Create
              span &nbsp;your own connections
            p
              strong Vote and Comment
              span &nbsp;on any connection
            p
              strong Search
              span &nbsp;our database using the search box on the top
            p
              strong Visualize
              span &nbsp;the connections and navigate them in a map
            p
              strong Learn
              span &nbsp;unexpected new things

  div.span21.offset3.sort-div(style="margin-left:0px")
    span.btn.btn-link.sort-header sort:
    div.btn-group(data-toggle="buttons-radio")
      button.btn.btn-link.active-red(type="button", ng-click="orderProp='-(upvotes - downvotes)'") Popular
      button.btn.btn-link(type="button", ng-click="orderProp='-connection.__CreatedOn__'") New
        //button.btn.btn-link(type="button", ng-click="orderProp='votes'") Popular
  div(triplet-list)