div.center-div

  div.l-frontpage-image
    img(src="/img/fg-frontpage.png")
    h2.l-frontpage-title.frontpage-title Knownodes empowers you - to organise the web
    h2.l-frontpage-title-bottom.frontpage-title By putting knowledge into connections - you empower others
  div.frontpage__bg-image
    h3.span23.offset1.frontpage__first-timer First timer? Browse the examples below,
      a(href="/about") &nbspLearn about how it works
      span ,&nbsp
      a(href="http://stps.co/r/0EBJTGN/") and how to open your Phd!

    h4.span23.offset1 Interesting people have started to share their knowledge on knownodes, check out some examples:

    h3.span11.offset1
      a(href="/resource/5747482b-7689-4179-98bd-f5c732517d00") Open your Phd project
    h3.span11.offset1
      a(href="/resource/7c03ddca-3446-4fad-a723-d914dbdfbed3") Sudo room - Matt Senate(Hacker)
    h3.span11.offset1
      a(href="/resource/4aa4ca30-2543-4b05-a739-849902e36531") Mimicry - Sebastien Treguer(Engineer, clean energy)
    h3.span11.offset1
      a(href="/resource/2b3f1592-d48a-4daa-a473-20df49c31f2d") How can we include citizen science in earthquake and fire engineering research? - Professor Muki Haklay(Researcher, citizen science)
    h3.span11.offset1
      a(href="/resource/a17aa977-91cc-460e-b794-3221bf2ab5ca") Dynamic body and space - Catalina Quijano(Teacher)
    h3.span11.offset1
      a(href="/resource/4aa4ca30-2543-4b05-a739-849902e36531") Knownodes - Dor Garbash(Phd student)
    h3.span11.offset1
      a(href="/resource/57ebbdf1-8ba9-4fe1-8a4a-9a7890fef6f1") Modularity in biology
    h3.span11.offset1
      a(href="/resource/5262bfd2-b77b-48bf-8cd1-1dfbd884a187") What is life?