link(rel='stylesheet', href='js/lib/sigma1/sigma.css')

script(type="text/javascript", src="js/lib/sigma1/sigma.min.js")
script(type="text/javascript", src="js/lib/sigma1/sigma.DBMockup.js")
script(type="text/javascript", src="js/lib/sigma1/sigma.layout.forceAtlas2.js")
script(type="text/javascript", src="js/lib/jquery-plugins/jquery-ui-1.10.3.custom.js")
script(type="text/javascript", src="js/lib/jquery-plugins/jquery.layout-latest.js")
script(type="text/javascript", src="js/lib/jquery-plugins/jquery.mousewheel.js")

div.topbar-gap &nbsp
#viewport.ui-layout-center
    #sigma-example-parent.sigma-parent
        #sigma-example.sigma-expand