div.container-fluid(ng-controller="LoginCtrl")
  div.topbar-gap &nbsp
  div.row-fluid.hack
    form(ng-submit='performLogin()').span24
      div.span12
        h2
          a(href='addUser') Create a new account from scratch

        h2 Or
                  //div.span5
                    a(href="/auth/facebook", target='_self')
                      img(src="img/login/facebook-login-button.png", style="width:75%;")
                  //div &nbsp;
                    a(href="/auth/google", target='_self', class="btn btn-large btn-block btn-primary", type="button", style="width:75%;")
                      img(src="img/login/google-login-button.png")
                      span Login with Google
        h2 Login
          div(class="text-error", ng-show='loginerror').span12
            p Something with the username or password you provided isn't working. Try again, or contact us at knownodes@gmail.com

          p
            label(for='username') eMail:
            input(ng-model='loginForm.email', name='email', type='email', autofocus, required, style="width:100%;")
          p
            label(for='password') Password:
            input(ng-model='loginForm.password', name='password', type='password', required, style="width:100%;")
          p
            button(type="submit", ng-disabled="loginForm.$invalid", class='btn btn-success') Log me in!
