div.container-fluid(ng-controller="LoginCtrl")
  div.topbar-gap &nbsp
  div.row-fluid.hack
    div.span24
    div.span6
      h2 Login
      form(name="loginForm", ng-submit='performLogin()')
        div(class="text-error", ng-show='loginerror')
          p Something with the username or password you provided isn't working. Try again, or contact us at knownodes@gmail.com

        p
          label(for='username') eMail:
          input(ng-model='loginForm.email', name='email', type='email', autofocus, required)
        p
          label(for='password') Password:
          input(ng-model='loginForm.password', name='password', type='password', required)
        p
          button.btn.btn-success(type="submit", ng-disabled="loginForm.$invalid") Log me in!
          a.btn.btn-primary(href="/auth/google", target='_self', type="button") Login with Google

    div.span2
      h2 or
    div.span8
      h2 Create a new account
      form(name="registerForm", ng-submit='submitUser(user)')
        p
          label(for='email') Your eMail:
          input(type='email', ng-model='user.email', name='email', required)
        p
          label(for='password') Password:
          input(ng-model='user.password', name='password', type='password', required)
        p
          label(for='firstName') First Name:
          input(ng-model='user.firstName', type='text', name='firstName', required)
        p
          label(for='lastName') Last Name:
          input(ng-model='user.lastName', type='text', name='lastName', required)
        p
          button(type='submit', class='btn btn-primary', ng-disabled="registerForm.$invalid") Add Me!