div.container-fluid
    div.topbar-gap &nbsp
    div.row-fluid.hack
        div.span12.offset6.about

            br

            h2 P2P Science Alliance Guideline

            p The p2p science alliance is a way to share collaborations in open science. Collaboration can be around a tool or research project, an ongoing discussion, or anything that involves individuals working together towards a common purpose.

            p By sharing your collaboration, it's easier to find peers to collaborate with, be up-to-date with innovations in open science and have a place to interact with your peers.

            br

            h3 Step 1: Add Yourself as a Peer

            p Add your name into the system, so that others can find you.

            div(resource-input, resource="startResource")

            br
            br

            h3 Step 2: Enter an ongoing collaboration

            p Think of a person you currently collaborate with and add his name in the third, bottom box. Describe the potential result of the collaboration.

            p(triplet-input)

            br
            br

            h3 Step 3: Enter a potential P2P Alliance
            p Know somebody you’d like to collaborate with? Have an idea about two people that should meet and talk? Add their names into the system and describe a potential result from their collaboration.
            p Use the input box above for this.
            br
            br

            h3 Step 4: Basic features: Searching and browsing collaborations

            p You can browse through the existing alliances on the website:

            p * The home page will show you the most recent and most popular collaborations.
            p * To know the collaborations of a specific person, just click on their name.

            figure.label.inside.bottom(data-label="List")
                img(src="/img/browse-list.png")
            br
            p * You can press the "map" button to see a visualization of the network.(Doesn't work on front page... yet)
            br
            figure.label.inside.bottom(data-label="Map")
              img(src="/img/browse-map.png")
            br
            br

            p You can comment, share, vote and chat(using the blue button on the right) about any collaboration
            figure.label.inside.bottom(data-label="interaction")
              img(src="/img/tutorial-interaction.png")

            br
            br
            br

            h3 Step 5: Stay updated about your network

            p Any time someone adds something relevant to your collaborations, you’ll receive a notification. This way you’ll be able to track their network of collaborations and find people that may be inspiring for you to work with as well.
            figure.label.inside.bottom(data-label="Notifications")
                img(src="/img/notifications.png")

            br
            br
            br

            h3 Step 6: Synchronize in time

            p Normally, we need different things at different times from different people. A programmer writes a CV instead of being contacted by someone who needs his skills for the research, that gets delayed in time and the results of which are not available on time for another researcher to test a hypothesis.
            figure.label.inside.bottom(data-label="Standard Work")
                img(src="/img/timelinepic2.png")

            br

            p Recording this data makes it possible to make it all happen simultaneously, when the moment is right:
            figure.label.inside.bottom(data-label="Simultaneuos Work")
                img(src="/img/timelinepic1.png")

            h3 Thanks you for reading all the way through.
              a(ng-href="/") You are welcome to create, explore and suggest some more collaborations.
            br
            br
            br