div.topbar-gap &nbsp
div.subheader
  div.span23.offset1
    h2 P2P Science Alliance Guideline

    p The purpose of P2P Science Alliance is to help researchers and scientists create cross-network project-oriented alliances.
      |Some recommendations:

    ol When creating a new connection, it's very important that you'll write a full, coherent
      |sentence explaining how the two peers you link are connected.
    ol Be descriptive and neutral.
    ol Avoid using jargon, or highly specialised words in that connecting sentence - always keep in mind your
      |description will be read by a non-expert.
    ol Interact with respect and civility to other contributors.
    ol Be bold! We tend to be humble about how much we can contribute, but in fact, each contribution makes
      |the network stronger.

    br

    ol In case you disagre with someone's connection, you can create a parallel connection, comment or vote on it.

    br
    h3 Have further question?
    p Email us at: knownodes@gmail.com
    p Technical issues should be posted on our
      a(href="https://github.com/CyberCRI/KnowNodes/issues") issue page on github

    br
    h3 Want to help improve our code?
    p There are many ways to help:
    p you can jump straight ahead to the source code: https://github.com/CyberCRI/KnowNodes/
      | we have instructions how to start your own instance, feel free to post issues or push improvements, this website is build through people like who help up improve our code.
    p We also organise hackathons a few times a year - announcement would be placed on github

    p Happy connecting!