div.container-fluid
    div.topbar-gap &nbsp
    div.row-fluid.hack
        div.span12.offset6.about

            br

            h2 P2P Science Alliance Guideline

            p The p2p science alliance is a way to share collaborations in open science. Collaboration can be around a tool or research project, an ongoing discussion, or anything that involves individuals working together towards a common purpose.

            p When we openly share our collaborations we create a basic framework to work with others. We transcend disciplinary frontiers, geographical borders, and profit-oriented social network recommendation algorithms. We help you find the right people to work on what you find important, be up-to-date with innovations in open-science and have a place to interact with your peers.

            br

            h3 How do I Start:

            p Add the potential and ongoing collaborations you know of into the system.

            br

            h3 Step 1: Add Your Peer

            p Add your name into the system, so that others can find you.
            | Do it now:

            br
            br

            h3 Step 2: Enter an ongoing P2P Alliance

            p Think of at least two ongoing peer to peer collaborations you find inspiring. Those can be in relation to you, but don’t have to. Add those people into the system and describe the result of their collaboration.
            | Do it here:

            br
            br

            h3 Step 3: Enter a potential P2P Alliance
            p Know somebody you’d like to collaborate with? Know two people that should meet and talk? Add their names into the system and describe a potential result from their collaboration.
            | Do it here:

            br
            br

            h3 Step 4: Browse existing Alliances

            p Browse through the existing alliances on the website,
            figure.label.inside.bottom(data-label="List")
                img(src="/img/browse-list.png")

            br
            br

            p comment, share, vote and chat:
            figure.label.inside.bottom(data-label="Map")
                img(src="/img/browse-map.png")

            br
            br
            br

            h3 Step 5: Stay updated about your network

            p Any time someone adds something relevant to your collaborations, you’ll receive a notification. This way you’ll be able to track their network of collaborations and find people that may be inspiring for you to work with as well.
            figure.label.inside.bottom(data-label="Notifications")
                img(src="/img/notifications.png")

            br
            br
            br

            h3 Step 6: Synchronize in time

            p Normally, we need different things at different times from different people. A programmer writes a CV instead of being contacted by someone who needs his skills for the research, that gets delayed in time and the results of which are not available on time for another researcher to test a hypothesis.
            figure.label.inside.bottom(data-label="Standard Work")
                img(src="/img/timelinepic2.png")

            br

            p Recording this data makes it possible to make it all happen simultaneously, when the moment is right:
            figure.label.inside.bottom(data-label="Simultaneuos Work")
                img(src="/img/timelinepic1.png")


            br
            br
            br