div.topbar-gap &nbsp
div.subheader
  div.span23.offset1
    h2 New user guide

    p Welcome to the Knownodes project!
      |A collaborative website that focuses on relating and defining connections
      |between Knowledge and ideas. You can go and define a link between any two online resources,
      |or even connect your own open questions and ideas to anything with a URL.

    p We began developing Knownodes almost a year ago, and released an alpha version in late June, 2013.
      |For now, over 250 connections have been created, and we just got started!

    p We believe knowledge can be made more accessible to human understanding and that this can be done if we pool
      |in and provide context to the knowledge around us.
      |Also, it acts a as a hub for state-of-the-art in various research fields, learning resources,  and different types of
      |media(video, image, text, animation, games).
      |Our platform is open source and free to use, do check out our github repository and feel free to fork, enhance and play.

    h3 How to contribute?

    p Contribution in Knownodes is mainly made by creating connections and commenting on them.
    |We also provide a way for you to create your own idea or open question and connect to it.

    p Anyone can be a contributor. We all have something that we know well and could be passed
      |to others, anyone that would like to share his idea or open question is a valuable contributor.

    p The role of the connections is to make relationships understandle,
      |inspire others, or evoke others to think critically about the world around them.

    p Knownodes is a system focused on the connections, as such, it allows displaying different perspectives
      |about how things are connected. If you see a connection you think isn't great,
      |you can always, comment on it, vote on it or create your own version.

    p There are many ways to participate in Knownodes, creating links, commenting on links,
      |creating parallel links to existing links, sharing your ideas and questions and connecting them.

    h3 Guideline
    p The purpose of Knownodes is to untangle the web and make it more accessible, not the reverse!
      |In order to achieve that there are certain standards our community needs to adhere:

    ol When creating a link, it's very important that you'll write a full, coherent
      |sentence explaining how the two resources you link are connected.
    ol Be descriptive and neutral, the place of discussion is in the comments.
    ol Avoid using jargon, or highly specialised words in that connecting sentence - always keep in mind your
      |description will be read by a non-expert.
    ol Interact with respect and civility to other contributors.
    ol Be bold! We tend to be humble about how much we can contribute, but in fact, each contribution makes
      |the network stronger.

    h3 What we are not.
    ol We are not Wikipedia - We are not an Encyclopedia, and though we have strong integration
      |and support for linking to wikipedia articles, the place to debate about the articles themselves is in Wikipedia.
    ol We are not a news aggregator - Sharing interesting links is a great way to spread knowledge,
      |but in Knownodes a proper link description is the most important thing.

    em There are no mistakes, in case you disagre with someone's connection, you can create a parallel connection, or comment on it.

    h3 Have further question?
    p Email us at: knownodes@gmail.com
    p Technical issues should be posted on our
      a(href="https://github.com/CyberCRI/KnowNodes/issues") issue page on github

    h3 Want to help improve our code?
    p There are many ways to help:
    p you can jump straight ahead to the source code: https://github.com/CyberCRI/KnowNodes/
      | we have instructions how to start your own instance, feel free to post issues or push improvements, this website is build through people like who help up improve our code.
    p We also organise hackathons a few times a year - announcement would be placed on github

    p Happy connecting!