div.container-fluid
    div.topbar-gap &nbsp
    div.row-fluid
        div.span9.offset3(style="margin:0px;")
            div(triplet-input).input-interface

        div.location-info.span9.offset3
            accordion
                accordion-group(heading="{{concept.title}}", is-open='true')
                    div.knownode-body
                        p.bold(ng-show="concept.url")
                            a(ng-href="{{concept.url}}") {{concept.url}}
                        p.bold(ng-show="concept.wikipediaLinks && !concept.url")
                            a(ng-href="http://en.wikipedia.org/wiki/{{concept.title}}", target="_blank") http://en.wikipedia.org/wiki/{{concept.title}}

                        p(ng-show="concept.fileName") Download:
                            a(class="btn-info",href="/knownodeFiles/:{{concept.fileId}}", target="_blank", ng-show="concept.fileName") &nbsp;{{concept.fileName}}&nbsp;
                        div(ng-bind-html-unsafe="concept.bodyText")
                        br
                        button(type="button", onclick="window.open('/gexf/resourceTriplets/{{resourceId}}.gexf', '_blank');") Export Graph
                        button(type="button", onclick="window.open('/graph/{{resourceId}}', '_top');") View Graph
                        br
        div.span21.offset3.sort-div
            span.btn.btn-link.sort-header sort:
            div.btn-group(data-toggle="buttons-radio")
                button.btn.btn-link(type="button", ng-click="orderProp='-(upvotes - downvotes)'") Popular
                button.btn.btn-link.active-red(type="button", ng-click="orderProp='-connection.__CreatedOn__'") New
                //button.btn.btn-link(type="button", ng-click="orderProp='votes'") Popular
    div(triplet-list)