//
   User: dorgarbash   Date: 1/21/13   Time: 7:06 PM

div.dropdown(style="display:inline;")
  a.floater(href="javascript:void(0);", data-toggle="dropdown") [Choose connection Type]
  ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu")
    li.dropdown-submenu
      a(tabindex='-1', href="javascript:void(0);") Understanding
      ul.dropdown-menu(style="width:50px;")
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") is an example of
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") is a tutorial of
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") is cited by
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") is a source of
        li.dropdown
           a(tabindex='-1', href="javascript:void(0);") discusses
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") extends
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") gives background to
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") is an opinion on
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") transformation of
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") was created by
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") instance of
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") participant of
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") contained in
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") located in
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") adjacent to

    li.dropdown-submenu
      a(tabindex='-1', href="javascript:void(0);") Questioning
      ul.dropdown-menu(style="width:50px;")
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") questions
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") contradicts
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") critiques
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") disputes
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") derides
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") disagrees with
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") is ridiculed
    li.dropdown-submenu
      a(tabindex='-1', href="javascript:void(0);") Inspiring
      ul.dropdown-menu(style="width:50px;")
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") raises the question
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") offer a unique persperctive on
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") is strangely related to
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") reminds me of
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") laughs about
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") is an interesting take on
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") is a possible application
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") is a recommended reading of
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") is parodied
    li.dropdown-submenu
      a(tabindex='-1', href="javascript:void(0);") Proving
      ul.dropdown-menu(style="width:50px;")
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") confirms
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") is an evidence of
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") agrees with
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") Contains data of
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") is corrected by
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") supports
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);") is refuted
