div.dropdown(style="display:inline;")
  a.floater(href="javascript:void(0);", data-toggle="dropdown") [Choose connection Type]
  ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu")
    li.dropdown-submenu
      a(tabindex='-1', href="javascript:void(0);") Understanding
      ul.dropdown-menu(style="width:50px;")
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="is an example of") is an example of
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="is a tutorial of") is a tutorial of
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="is cited by") is cited by
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="is a source of") is a source of
        li.dropdown
           a(tabindex='-1', href="javascript:void(0);", value="discusses") discusses
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="extends") extends
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="gives background to") gives background to
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="is an opinion on") is an opinion on
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="is transformation of") transformation of
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="was created by") was created by
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="is instance of") instance of
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="is participant of") participant of
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="is contained in") contained in
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="is located in") located in
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="is adjacent to") adjacent to

    li.dropdown-submenu
      a(tabindex='-1', href="javascript:void(0);") Questioning
      ul.dropdown-menu(style="width:50px;")
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="questions") questions
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="contradicts") contradicts
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="critiques") critiques
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="disputes") disputes
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="derides" ) derides
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="disagrees with" ) disagrees with
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="is ridiculed") is ridiculed
    li.dropdown-submenu
      a(tabindex='-1', href="javascript:void(0);") Inspiring
      ul.dropdown-menu(style="width:50px;")
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="raises the open question") raises the question
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="offer a unique perspective on") offer a unique persperctive on
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="is strangely related to") is strangely related to
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="reminds me of") reminds me of
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="laughs about") laughs about
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="is an interesting take on") is an interesting take on
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="is a possible application") is a possible application
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="is a recommended reading of") is a recommended reading of
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="is parodied" ) is parodied
    li.dropdown-submenu
      a(tabindex='-1', href="javascript:void(0);") Proving
      ul.dropdown-menu(style="width:50px;")
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="confirms") confirms
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="is an evidence of") is an evidence of
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="agrees with") agrees with
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="contains data of") Contains data of
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="is corrected by") is corrected by
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="supports") supports
        li.dropdown
          a(tabindex='-1', href="javascript:void(0);", value="is refuted") is refuted
