//
   User: dorgarbash   Date: 1/17/13   Time: 10:52 AM

div.popup(ng-class="showKnowledgeDomain")
  a.btn.btn-success.btn-mini(id="biology", href="javascript:void(0);", onclick="return buttonMark('biology');") Biology
  a.btn.btn-inverse.btn-mini(id="mathematics", href="javascript:void(0);", onclick="return buttonMark('mathematics');") Mathematics
  a.btn.btn-mini.btn-primary(id="history", href="javascript:void(0);", onclick="return buttonMark('history');") History
  a.btn.btn-mini.btn-danger(id="physics", href="javascript:void(0);", onclick="return buttonMark('physics');") Physics
  a.btn.btn-info.btn-mini(id="philosophy", href="javascript:void(0);", onclick="return buttonMark('philosophy');") Philosophy
  a.btn.btn-primary.btn-mini(id="sociology", href="javascript:void(0);", onclick="return buttonMark('sociology');") Sociology
  a.btn.btn-danger.btn-mini(id="chemistry", href="javascript:void(0);", onclick="return buttonMark('chemistry');") Chemistry
  a.btn.btn-warning.btn-mini(id="art", href="javascript:void(0);", onclick="return buttonMark('art');") Art
  a.btn.btn-mini.btn-success(id="economy", href="javascript:void(0);", onclick="return buttonMark('economy');") Economy
  a.btn.btn-mini.btn-inverse(id="computer", href="javascript:void(0);", onclick="return buttonMark('computer');") Computer Science
  a.btn.btn-mini.btn-warning(id="psychology", href="javascript:void(0);", onclick="return buttonMark('psychology');") Psychology
  a.btn(href="javascript:void(0);", ng-click="showKnowledgeDomain = toggle('show')") Done
