div#popover.popup.popover.fade.down.in
  div.arrowdiv.popover-inner
  h3.popover-title Input as
  img.inputPopup(src="img/inputAsNodes.png")
  div.popover-content Node1
  div.popover-content Node2
  div.popover-content Set a parallel link