//
   User: dorgarbash   Date: 1/17/13   Time: 4:40 PM

  span.dropdown.span5.offset2
    a(href="javascript:void(0);", data-toggle="dropdown", style="display:inline;") Choose resource type
    ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu")
      li.dropdown
        a(tabindex='-1', href="javascript:void(0);") Publication
      li.dropdown
        a(tabindex='-1', href="javascript:void(0);") Concept
      li.dropdown-submenu
        a(tabindex='-1', href="javascript:void(0);") Question
          ul.dropdown-menu
            li.dropdown
              a(tabindex='-1', href="javascript:void(0);") Open question
            li.dropdown
              a(tabindex='-1', href="javascript:void(0);") Query
