//
   User: dorgarbash   Date: 1/18/13   Time: 3:49 PM

select

  option(value="questions") questions
  option(value="critiques") critiques
  option(value="contradicts") contradicts
  option(value="supports") supports
  option(value="is a recommended reading of") is a recommended reading of
  option(value="raises the open question") raises the open question
  option(value="gives background to") gives background to
  option(value="extends") extends
  option(value="is a part of") is a part of
  option(value="is an example of") is an example of
  option(value="is refuted") is refuted
  option(value="Contained data of") Contained data of
  option(value="Agrees with") Agrees with
  option(value="Confirms") Confirms
  option(value="is transformation of") is transformation of
  option(value="is participant of") is participant of
  option(value="is an evidence of") is an evidence of
  option(value="is a possible application") is a possible application
  option(value="is an interesting take on") is an interesting take on
  option(value="reminds me of") reminds me of
  option(value="laughs about") laughs about
  option(value="is strangely related to") is strangely related to
  option(value="offer a unique perspective on") offer a unique perspective on
  option(value="is an opinion on") is an opinion on
  option(value="discusses") discusses
  option(value="is a source of") is a source of
  option(value="is quoted by") is quoted by
  option(value="is a tutorial of") is a tutorial of
  option(value="is adjacent to") is adjacent to
  option(value="is located in") is located in
  option(value="is contained in") is contained in
  option(value="was created by") was created by
  option(value="is instance of") is instance of
















