//
   Created with JetBrains WebStorm.
   User: Liad Magen
   Date: 20/2/13
   Time: 17:17

#addKnownodeConcept
    h2 Comment on this
    div(class="alert alert-error", ng-show="isError")
    form(ng-submit='submitComment()', ng-init="scope = { isDisabled: false }")
        p
            label(for='title') Title:
            input(ng-model='form.comment.title', name='title', style='width:500px', type='text', autofocus, required)
        p
            label(for='bodyText') Content:
            textarea(ng-model='form.comment.bodyText', name='bodyText', required, style='width:500px; height:400px')
        p
            button(type='submit', class='btn btn-primary', ng-disabled="form.comment.$invalid || {{scope.isDisabled}}") Share