doctype 5
html(ng-app="KnowNodesApp")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset='utf8')
    base(href='/')
    title= "P2P Science Alliance"
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,900,700italic,400italic,900italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/bootup.css', type="text/css")

//if lte IE 8
        script(src='js/lib/angular-ui/angular-ui-ieshiv.min.js')

    body(ng-controller="TopBarCtrl").background-color
      include partials/topBar
      button.btnk.together-js-button.btn-tweet(onclick="TogetherJS(this); return false;", style="position:fixed;") Invite a peer
      block content
      include partials/footer