//
   Created with JetBrains WebStorm.
   User: Liad Magen
   Date: 11/1/13
   Time: 01:18

#addKnownodeConcept
    h2 Add a new concept
    div(class="alert alert-error", ng-show="isError")
    form(ng-submit='submitConcept()', ng-init="scope = { isDisabled: false }")
        p
            label(for='title') Title:
            input.input-xxlarge(ng-model='form.concept.title', name='title', type='text', autofocus, required)
        p
            label(for='bodyText') Abstract:
            textarea.input-xxlarge(ng-model='form.concept.bodyText', name='bodyText', required, style='height:400px')
        p
            label(for='partner') Presented by:&nbsp;
                span #{userDisplayName} and &nbsp;
            input(ng-model='form.concept.partner', name='partner', type='text', required, auto-complete, ui-items="userList" )
        p
            label(for='presentationDate') Presentation Date:
            input(ng-model='form.concept.presentationDate', name='presentationDate', type='text', data-date-format="dd/mm/yyyy", bs-datepicker, required)
        p
            button(type='submit', class='btn btn-primary', ng-disabled="form.concept.$invalid || {{scope.isDisabled}}") Add Concept