#addKnownodeStepEdge
  div.well.span11
    h3 (2) Specify the relationship
    label Make the connection understandable by forming it as a full sentence.
    label First choose the connection type and then fill the text field with specifics.
    div.bs-docs-example
      code.text-center Charles Darwin

      div.input-prepend
        div.btn-group
          a.btn.disabled(href="javascript:void(0);", style="color:rgb(113, 117, 119);") &nbsp;contributed to
            span.caret(style="float:left;")
        span.uneditable-input.span7 laying the foundations of

      p
        code Evolution theory
    h3 Your turn:
    p
      span(ng-show="reversedDirection")
        code(ng-hide="form.knownodeForm.title") [Target resource]
        code(ng-show="form.knownodeForm.title") {{form.knownodeForm.title}}
      span(ng-hide="reversedDirection")
        code {{concept.title}}
    p(edge-type-selector)


    p
      span(ng-hide="reversedDirection")
        code(ng-hide="form.knownodeForm.title") [Target resource]
        code(ng-show="form.knownodeForm.title") {{form.knownodeForm.title}}
      span(ng-show="reversedDirection")
        code {{concept.title}}
    a.btn.btn-inverse(ng-hide="reversedDirection", ng-click="reversedDirection=true") reverse direction
    a.btn.btn-inverse(ng-show="reversedDirection", ng-click="reversedDirection=false") reverse direction



    p
      label(for='bodyText') Body: Additional thoughts and information about the connection go here&nbsp;&nbsp;(optional):

      textarea(ng-model='form.knownodeRelation.bodyText', name='bodyText', rows='5', ng-maxlength='2000', data-trigger="focus", data-unique="1").span11


            //label(for='title') Title: in one sentence: How is connected to {{concept.title}}?
