div.subheader
    div.span23.offset1
        h2.subheader Showing connections for: {{concept.title}}

    div(ng-show='knownodeList.length > 0')
        div(ng-repeat="knownode in knownodeList | orderBy:orderProp").span11.offset1
            div.knownode.span12.shortKnownode
                .movingEdge.left-align.span12
                    div(edge)
                div(node)
                div(class="ui-icon ui-icon-trash", style="float:right", ng-click="deleteArticle(knownode.article.id, $index)", ng-show="checkOwnership(knownode.article.user.id)")
                div(ng-show="checkOwnership(knownode.article.user.id)", style="float:right")
                    a(class="ui-icon ui-icon-pencil", ng-href="")

    p.span23.offset1
        a(ng-show='isUserLoggedIn', class='btn btn-success', href='/addKnownodeTo/{{conceptId}}') Connect a new resource
    div.span23.offset1
        div(comment-section='{{concept.KN_ID}}')