div.subheader
  div.span23.offset1
    h2.subheader {{concept.title}}
    //p.btn.btn-link.sort sort:
    //div.btn-group(data-toggle="buttons-radio")
      button.btn.btn-link.active-red(type="button", ng-click="orderProp='date'") New
      button.btn.btn-link(type="button", ng-click="orderProp='votes'") Popular
      button.btn.btn-link(type="button", ng-click="setMaster(subtitle)") Hot
  div(ng-repeat="knownode in knownodeList | orderBy:orderProp").span11.offset1
    div.knownode.span12.shortKnownode
      .movingEdge.left-align.span12
        connection
      resource
    p &nbsp;
  a.span5.offset1(ng-show='isUserLoggedIn', class='btn btn-success', href='/addKnownodeTo/{{conceptId}}') Add a new article knownode