//
   Created with JetBrains WebStorm.
   User: Liad Magen
   Date: 16/01/13
   Time: 00:20
   displays the concept and its related knownodes

div.subheader
    div.span23.offset1
    h2.subheader Showing connections for: {{concept.title}}

    div(ng-show='knownodeList.length > 0')
        div(ng-repeat="knownode in knownodeList | orderBy:orderProp").span11.offset1
            div.knownode.span12.shortKnownode
                .movingEdge.left-align.span12
                    connection
                resource
                
    p
        a.span5.offset1(ng-show='isUserLoggedIn', class='btn btn-success', href='/addKnownodeTo/{{conceptId}}') Connect a new resource
    
    div(comment-section='{{concept.KN_ID}}')