//
   Created with JetBrains WebStorm.
   User: admin
   Date: 22/03/13
   Time: 14:14
   To change this template use File | Settings | File Templates.

form(ng-submit='submitConcept()', ng-init="scope = { isDisabled: false }")
    p
        label(for='title') Title:
        input(ng-model='form.concept.title', name='title', style='width:500px', type='text', autofocus, required, ng-maxlength="200")
        span {{(140 - (form.concept.title.length))}} characters left

    p
        label(for='bodyText') Abstract:
        textarea(ng-model='form.concept.bodyText', name='bodyText', required, style='width:500px; height:400px')
    p
        label(for='partner') Presented by:&nbsp;
            span #{userDisplayName} and &nbsp;
        input(ng-model='form.concept.partner', name='partner', type='text', required, userAutoComplete)
    p
        label(for='presentationDate') Presentation Date:
        input(ng-model='form.concept.presentationDate', name='presentationDate', type='text', data-date-format="dd/mm/yyyy", bs-datepicker, required)
    p
        button(type='submit', class='btn btn-primary', ng-disabled="form.concept.$invalid || {{scope.isDisabled}}") Add Concept