//
   Created with JetBrains WebStorm.
   User: raphik12
   Date: 13/06/2013
   Time: 11:31
   To change this template use File | Settings | File Templates.

script(type="text/javascript", src="js/lib/arbor/arbor.js")
script(type="text/javascript", src="js/lib/arbor/arbor-tween.js")
script(type="text/javascript", src="js/visualizer.js")

div.subheader
    div.span23.offset1
        h2.subheader Knownode Map
            div(ng-controller="ConceptGraphCtrl")
                canvas#viewport(width="800", height="600")