div
    div.connection.span11
        div.content.span11
            div.ellipsis-title
                p
                    input(placeholder="Define relationship", style="width:100%").knownode-title Relationship

    div.resourcecontent.span11#content
        p
            input(ng-model="searchInput.query", ng-change="search()", placeholder="Enter concept to link", style="width:100%").knownode-title Other Node