link(rel='stylesheet', href='/css/viewportStyle.css')
link(rel='stylesheet', href='/css/layout-default-latest.css')

script(type="text/javascript", src="js/lib/arbor/arbor.js")
script(type="text/javascript", src="js/lib/arbor/arbor-tween.js")
script(type="text/javascript", src="js/lib/kinetic/kinetic-v4.5.4.js")
script(type="text/javascript", src="js/lib/jquery-plugins/jquery-ui-1.10.3.custom.js")
script(type="text/javascript", src="js/lib/jquery-plugins/jquery.layout-latest.js")
script(type="text/javascript", src="js/lib/jquery-plugins/jquery.mousewheel.js")
script(type="text/javascript", src="js/visualizer.js")
script(type="text/javascript", src="js/visualizerPanels.js")

#mapLayoutContainer
    #viewport.ui-layout-center
    #leftTab.ui-layout-west
        h2
            a#node-link(href='') KnowNode
        p#node-content Please click on a KnowNode to begin
    #rightTab.ui-layout-east
        h2 Link Title

