div.tab-pane(id='{{resourceDirection}}_File')
  div.control-group
    label.controll-label(for='articleFile').span2 File (PDF)
    div.controls
      input(nclass="input-xxlarge", placeholder="Attach a file", g-model='file', name='file', type='file', ng-model-instant, multiple, onchange="angular.element(this).scope().setFiles(this)").span9
    div.control-group
      label.control-label(for="title").span2 Title
      div.controls
        input(type="text", id="title", placeholder="Enter title here", ng-model='form.knownodeForm.title', ngMaxlength='255', name='title', required, autofocus).span9
    div.control-group
      label.control-label(for="body").span2 Body
      div.controls
        textarea(rows="2", id="body", placeholder="Enter additional text here(optional)",ng-model='form.knownodeForm.bodyText', ngMaxlength='255', name='bodyText', required, autofocus).span9
    div.control-group
      div.controls
        button.btn.knowledgeButton.pull-right.span3(ng-click="showKnowledgeDomain= toggleKnowledgeDomain('show')") Choose domain
        resource-type-selector
        knowledge-domain-selector