div.accordion-group
  div.accordion-heading
    a.accordion-toggle(ng-click='isOpen = !isOpen', accordion-transclude='heading') {{heading}} {{concept.title}}
      i.icon-resize-vertical.pull-right
    div.accordion-body(collapse='!isOpen')
      div.accordion-inner(ng-transclude='ng-transclude')
