div#CommentList
  ul.media-list.well(ng-controller='commentCtrl', ng-show='comments')
    li.media(ng-repeat="comment in comments")
        p.pull-left(href="#")
          div {{comment.user.displayName}}
        div.media-body
            span {{comment.bodyText}}
  h3 What do you think of this connection?
  div(ng-show='isUserLoggedIn || true ', ng-controller='addCommentCtrl')
    div(class="alert alert-error", ng-show="isError")
    form(ng-submit='submitComment({{comment.parentKNID}})', ng-init="scope = { isDisabled: false }")
      p
        textarea(ng-model='form.comment.bodyText', name='bodyText', required, style='width:350px; height:150px')

      button(type='submit', class='btn btn-primary', ng-disabled="form.comment.$invalid || commentSubmitted") Submit comment
      h3.text-success(ng-show='submitMade') Comment sent!
      h3.text-warning(ng-show='submitNotMade') Comment not sent! {{error}}

