div
  div(ng-repeat="connection in triplet.connections | orderBy: orderProp", ng-show="$first ")
    div.l-connection(ng-class="colorSwitcher()", ng-click="goToUrl('/connection/' + connection.KN_ID)")
      div.connection-title
        div(vote)
        a(ng-href="/connection/{{connection.KN_ID}}") {{connection.title}}
      span.dropdown.parallel-button(ng-show="triplet.connections[1]")
        a.dropdown-toggle(title="Click to show parallel connections", ng-show="connection") {{triplet.connections.length}} ||
        div(parallel-connections)