div
  div.l-connection(ng-class="colorSwitcher()", ng-click="goToUrl('/connection/' + triplet.connection.KN_ID)")
    div.connection-title
      div(vote)
      a(ng-href="/connection/{{triplet.connection.KN_ID}}") {{triplet.connection.title}}
    span.dropdown.parallel-button
      a.dropdown-toggle(title="Click to show parallel connections", ng-show="triplet.connection") {{triple.connection.length}} ||
      div(parallel-connections)