div.connection.span12
  div.map.span1
    img.edge-map-icon(src="/img/edgeBlock.png", width="20")
  div.content.span10
    div.ellipsis-title
      p
        span.connection-type.knowledgeDomain {{knownode.connection.connectionType}}
        span.knownode-title &nbsp;{{knownode.connection.title}}
    div.lineSeperator
    div.body.ellipsis-edge(ng-show="knownode.connection.bodyText.length>0", tooltip-placement="right" , tooltip="{{knownode.connection.bodyText}}")
      div.knownode-body {{knownode.connection.bodyText}}
    div.tagLine
      p.infoLine by {{knownode.article.user.firstName}} {{knownode.article.user.lastName}}
