div.input-prepend.input-append

  div.btn-group(style="display:inline;", ng-model='form.knownodeRelation.connectionType', name="connectionType")
    a.btn.reverse-direction(ng-hide="reversedDirection", ng-click="reversedDirection=true", title="reverse connection direction")
      i.icon-arrow-up
      i.icon-arrow-down
    a.btn.reverse-direction(ng-show="reversedDirection", ng-click="reversedDirection=false", title="reverse connection direction")
      i.icon-arrow-down
      i.icon-arrow-up
    input#appendedPrependedDropdownButton.span6(type="text", ng-model='form.knownodeRelation.title', name='title', required, ng-maxlength='250', placeholder="What is their relationship?")

    a.btn.dropdown-toggle(href="javascript:void(0);", data-toggle="dropdown") &nbsp; {{form.knownodeRelation.connectionType}}
        span.caret(style="float:left;")
        span(ng-switch on='form.knownodeRelation.connectionType')
            img(src="img/robot.png", ng-switch-default)
            img(src="img/robot_yeah.png", ng-switch-when="explain")
            img(src="img/robot_yeah.png", ng-switch-when="inspire")
            img(src="img/robot_yeah.png", ng-switch-when="question")

    ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu", style="left:50%")
        li.dropdown
          a.explain(tabindex='-1', href="javascript:void(0);", ng-click="categoryClick('explain')") to explain
        li.dropdown
          a.inspire(tabindex='-1', href="javascript:void(0);", ng-click="categoryClick('inspire')") to inspire
        li.dropdown
          a.question(tabindex='-1', href="javascript:void(0);", ng-click="categoryClick('question')") to question

  p.btn.btn-link.counter {{(80 -(form.knownodeRelation.title.length))}}
  span(ng-transclude)

