div.connection.span11
  div.content.span11
    div.ellipsis-title
      p
        a(ng-href="/edge/:{{knownode.connection.KN_ID}}")
          span.knownode-title {{knownode.connection.connectionType}}
          span.knownode-title &nbsp;{{knownode.connection.title}}

