div.resource
  div.resource-title
    a(ng-href="/article/{{triplet.endResource.KN_ID}}", title="{{triplet.endResource.title}}") {{triplet.endResource.title}}
  a.source-button(ng-href="{{triplet.endResource.url}}", title="{{triplet.endResource.url}}", ng-show="triplet.endResource.url", target="_blank") source
  a.source-button(href="/knownodeFiles/:{{triplet.endResource.fileId}}", target="_blank", ng-show="triplet.endResource.fileName", title="{{triplet.endResource.fileName}}")
    i.titleIcon.icon-download
  div.resource-counter(ng-switch on="triplet.otherConnectionsCount")
    span(ng-switch-default) {{triplet.otherConnectionsCount}}
    span(ng-switch-when="0")
