div.resourcecontent.span11#content(ng-init="addNode=false", ng-mouseenter="addNode=true", ng-mouseleave="addNode=false")
  a.edge-page-node-title(ng-href="/article/{{knownode.article.KN_ID}}", title="{{knownode.article.title}}") {{knownode.article.title}}
    a(ng-href="{{knownode.article.url}}", target="_blank")
      img.open-in-new-window(src="/img/openInNewWindow.png", width="20px", title="{{knownode.article.url}}", ng-show="knownode.article.url")
    a(href="/knownodeFiles/:{{knownode.article.fileId}}", target="_blank", ng-show="knownode.article.fileName", title="{{knownode.article.fileName}}")
      i.open-in-new-window.icon-download
    //span(ng-show="addNode").titleIcon
      a(ng-show='isUserLoggedIn', title="Connect a new resource to {{knownode.article.title}}", ng-href='/addKnownodeTo/{{knownode.article.KN_ID}}')
        i.icon-plus
  span(ng-switch on="knownode.article.edgeCount")
    span.pull-right.node-count(ng-switch-when="0")
    span.pull-right.node-count(ng-switch-default) {{knownode.article.edgeCount}}
  div.lineSeperator
  p.knownode-body(ng-bind-html-unsafe="knownode.article.bodyText")

