p.info-line
  em.info-time {{(triplet.connection.__CreatedOn__) | timeAgo}} by
  a(ng-href="/user/{{triplet.connection.creator.KN_ID}}")
    em.info-name {{triplet.connection.creator.firstName}} {{triplet.connection.creator.lastName}}
  span
    a.pull-right.info-comment(ng-href="/connection/{{triplet.connection.KN_ID}}", ng-switch on="triplet.commentCount")
      span.info-comment-exist(ng-switch-default) {{triplet.commentCount}} comments
      span(ng-switch-when="0") comment