div.resourcecontent.span11#content(ng-mouseenter="addNode=true", ng-mouseleave="addNode=false")
  a.knownode-title(ng-href="/article/{{triplet.otherResource.KN_ID}}", title="{{triplet.otherResource.title}}") {{triplet.otherResource.title}}
    a(ng-href="{{triplet.otherResource.url}}", target="_blank").titleIcon
      img.open-in-new-window(src="/img/openInNewWindow.png", title="{{triplet.otherResource.url}}", width="20px", ng-show="triplet.otherResource.url")
    a(href="/knownodeFiles/:{{triplet.otherResource.fileId}}", target="_blank", ng-show="triplet.otherResource.fileName", title="{{triplet.otherResource.fileName}}").titleIcon
      i.open-in-new-window.icon-download
    span(ng-show="addNode").titleIcon
      a(ng-show='isUserLoggedIn', title="Connect a new resource to {{triplet.otherResource.title}}", ng-href='/addKnownodeTo/{{triplet.otherResource.KN_ID}}')
        i.icon-plus
  span(ng-switch on="triplet.otherConnectionsCount")
    span(ng-switch-default).pull-right.node-count {{triplet.otherConnectionsCount}}
    span(ng-switch-when="0").pull-right.node-count




