li.dropdown.topbar-login
  a.button-notification.dropdown-toggle(ng-onclick="toggleUpdate()", ng-click="markAllAsRead()")
    i.icon-globe
    strong.notification-count(ng-onclick="toggleUpdate()", ng-click="markAllAsRead()") {{unreadCount}}
  span(notifications-dropdown)
