li.dropdown.topbar-login
  a.button-notification.dropdown-toggle(ng-onclick="toggleUpdate()")
    i.icon-globe
    strong.notification-count(ng-onclick="toggleUpdate()") {{notifications.length}}
  span(notifications-dropdown)
