ul.dropdown-menu.notifications-box
  p.notification-title Notifications
  li.notification(ng-repeat="notification in notifications")
    span
      a(ng-hide="notification.showActor=='false' || notification.actors.length > 1", ng-href="/user/{{notification.actor.KN_ID}}") {{notification.actor.userName+" "}}
      span(ng-show="notification.showActor=='false' && notification.actors.length == 1") Someone{{" "}}
      //a(ng-show="actor=='many known'")
      span(ng-show="notification.actors.length > 1") {{notification.actors.length +" peers "}}

    span {{notification.actionDescription+ " "}}

      span(ng-show="notification.targetType=='triplet'")
        a(href="/article/{{notification.target.startResource.KN_ID}}") {{notification.target.startResource.title + " "}}
        a(href="/connection/{{notification.target.connection.KN_ID}}") {{notification.target.connection.title + " "}}
        a(href="/article/{{notification.target.endResource.KN_ID}}") {{notification.target.endResource.title}}

      a(ng-show="notification.targetType=='resource'", ng-href="/article/{{notification.target.startResource.KN_ID}}") {{notification.target.title}}

    p
      em.info-time {{(notification.createdOn) | timeAgo}}
