ul.dropdown-menu.parallel-menu
  li(ng-repeat="connection in connections | orderBy: orderProp")
    //a(ng-class="colorSwitcher()", ng-onclick="setParallelConnection()", ng-mouseover="updateConnection(triplet.connection)") {{triplet.connection.upvotes - triplet.connection.downvotes}} {{triplet.connection.title}} {{connection}}
    a {{connection}}
