ul.dropdown-menu.parallel-menu
  li(ng-repeat="connection in triplet.connections | orderBy: orderProp").span24
    a(ng-class="parallelColorSwitcher(connection.connectionType)", ng-onclick="setParallelConnection()", ng-mouseover="updateConnection(triplet.connection)") {{connection.upvotes - connection.downvotes}} {{connection.title}}
