div.connection.span11(ng-class="colorSwitcher()")
  div.content.span11
    div.ellipsis-title
      p
        a(ng-href="/edge/{{triplet.connection.KN_ID}}")
          span.knownode-title &nbsp;{{triplet.connection.title}}

