div
    // Source Node
    // ... default direction
    div.resourcecontent.span11#content(ng-hide="reversedDirection", ng-show="rootNodeExists",style="padding:0px")
        accordion
            accordion-group(heading="{{concept.title}}")
                div.knownode-body
                    p.bold(ng-show="concept.url")
                        a(ng-href="{{concept.url}}") {{concept.url}}
                    p(ng-show="concept.fileName") Download:
                        a(class="btn-info",href="/knownodeFiles/:{{concept.fileId}}", target="_blank", ng-show="concept.fileName") &nbsp;{{concept.fileName}}&nbsp;
                    div(ng-bind-html-unsafe="concept.bodyText")

    // ... reversed direction
    div.resourcecontent.span11#content(ng-show="reversedDirection && rootNodeExists")
        p
            search-box.knownode-title.target-resource-search-box
            span#content(ng-show="targetResource != null") {{targetResource.title}}

    // Connection between Nodes
    div(edge-type-selector)

    // Destination Node
    // ... default direction
    // ....... existing node
    div.resourcecontent.span11#content(ng-hide="reversedDirection || userGenNode", ng-show="rootNodeExists")
        p
            search-box.knownode-title.target-resource-search-box
            span#content(ng-show="targetResource != null") {{targetResource.title}}

    // ....... created node
    // TODO Encapsulate in a directive
    div.resourcecontent.span11#content(ng-show="userGenNode && !reversedDirection")
        p add new node
            p
                label(for='title') Title:
                input(placeholder="The title of the resource - just copy paste", ng-model='form.knownodeForm.title', ng-maxlength='350', name='title', required, autofocus, style="width:100%;").input_xxlarge
                span {{(350 -(form.knownodeForm.title.length))}}
            p
                label(for='bodyText') Text body (abstract, summery or additional information): &nbsp;(optional)
                textarea(ui-tinymce, class="input-xxlarge", placeholder="Abstract or summery of the resource", ng-model='form.knownodeForm.bodyText', name='bodyText', rows='5', style='width:100%')
            p
                label(for='articleFile') PDF File:
                input(nclass="input-xxlarge", placeholder="Attach a file", g-model='file', name='file', type='file', ng-model-instant, multiple, onchange="angular.element(this).scope().setFiles(this)")
            div(id="dropbox", class="dropbox", ng-class="dropClass")
                span
                    p {{dropText}}
            span.label.label-info .PDF Files - up to 16Mb
            div(ng-show="files.length")
            div(ng-repeat="file in files.slice(0)")
                span
                    p {{file.webkitRelativePath || file.name}}
                span(ng-switch="file.size > 1024*1024")
                span(ng-switch-when="true")
                    p {{file.size / 1024 / 1024 | number:2}} MB
                span(ng-switch-default)
                    p {{file.size / 1024 | number:2}} kB
            div(ng-show="progressVisible")
                div(class="percent")
                    p {{progress}}%
                div(class="progress-bar")
                    div(class="uploaded", ng-style="{'width': progress+'%'}")

    // ... reversed direction
    div.resourcecontent.span11#content(ng-show="reversedDirection", style="padding:0px")
        accordion
            accordion-group(heading="{{concept.title}}")
                div.knownode-body
                    p.bold(ng-show="concept.url")
                        a(ng-href="{{concept.url}}") {{concept.url}}
                    p(ng-show="concept.fileName") Download:
                        a(class="btn-info",href="/knownodeFiles/:{{concept.fileId}}", target="_blank", ng-show="concept.fileName") &nbsp;{{concept.fileName}}&nbsp;
                    div(ng-bind-html-unsafe="concept.bodyText")

    // Submit button
    button#content(ng-click="submit()") Submit