span.dropdown.span5.offset2
  a(href="javascript:void(0);", data-toggle="dropdown", style="display:inline;") [{{form.knownodeForm.resourceType}}]
  ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu")
    li.dropdown
      a(tabindex='-1', href="javascript:void(0);", ng-click='form.knownodeForm.resourceType="Publication"') Publication
    li.dropdown
      a(tabindex='-1', href="javascript:void(0);", ng-click='form.knownodeForm.resourceType="Concept"') Concept
    li.dropdown-submenu
      a(tabindex='-1', href="javascript:void(0);") Question
        ul.dropdown-menu
          li.dropdown
            a(tabindex='-1', href="javascript:void(0);", ng-click='form.knownodeForm.resourceType="Open Question"') Open question
          li.dropdown
            a(tabindex='-1', href="javascript:void(0);", ng-click='form.knownodeForm.resourceType="Query"') Query
    li.dropdown
      a(tabindex='-1', href="javascript:void(0);", ng-click='form.knownodeForm.resourceType="Idea"') Idea
    li.dropdown
      a(tabindex='-1', href="javascript:void(0);", ng-click='form.knownodeForm.resourceType="Tutorial"') Tutorial
    li.dropdown
      a(tabindex='-1', href="javascript:void(0);", ng-click='form.knownodeForm.resourceType="Problem"') Problem
