div.resource
  div.resource-title.simplebox
      span.start-resource-search-box(ng-show="resource == null")
          search-box
      span#content(ng-show="resource != null")
          {{resource.title}}
      a.input-clear(ng-click="clear()")
        img(src="/img/cross.png")


