.modal-header
  h3 Share the alliance

.modal-body
  p {{title.title.title}}

.modal-footer
  a.btnk.btn-tweet(target="_blank", ng-href="https://twitter.com/intent/tweet?text={{title.title.title}}&url=http://www.libreop.us/connection/{{title.title.KN_ID}}&via=p2pScienceAlliance") Twitter
  a.btnk.btn-facebook(target="_blank", href="http://www.facebook.com/sharer/sharer.php?u=http://www.libreop.us/connection/{{title.title.KN_ID}}") Facebook
  a.btnk.btn-google(target="_blank", href="https://plus.google.com/share?url=http://www.libreop.us/connection/{{title.title.KN_ID}}") Google+
  a.btnk.btn-linkedin(target="_blank", href="http://www.linkedin.com/shareArticle?mini=true&url=http://www.libreop.us/connection/{{title.title.KN_ID}}&title={{title.title.title}}&source=http://www.knownodes.com/article/{{title.title.KN_ID}}") LinkedIn
