div.resource
  div.resource-title
    a(ng-href="/article/{{triplet.startResource.KN_ID}}", title="{{triplet.startResource.title}}") {{triplet.startResource.title}}
  a.source-button(ng-href="{{triplet.startResource.url}}", title="{{triplet.startResource.url}}", ng-show="triplet.startResource.url", target="_blank") source
  a.source-button(href="/knownodeFiles/:{{triplet.startResource.fileId}}", target="_blank", ng-show="triplet.startResource.fileName", title="{{triplet.startResource.fileName}}")
    i.titleIcon.icon-download
  div.resource-counter(ng-switch on="knownode.edgeCount")
    span(ng-switch-default) {{triplet.startResource.edgeCount}}
    span(ng-switch-when="0")


