div.resourcecontent.span11#content(ng-switch on="knownode.targetArticle.edgeCount")
  a.knownode-title(ng-href="/article/:{{knownode.targetArticle.KN_ID}}", title="{{knownode.targetArticle.title}}") {{knownode.targetArticle.title}}
    a(ng-href="{{knownode.targetArticle.url}}", target="_blank")
      img.open-in-new-window(src="/img/openInNewWindow.png", width="20px", ng-show="knownode.targetArticle.url")
    a(href="/knownodeFiles/:{{knownode.targetArticle.fileId}}", target="_blank", ng-show="knownode.targetArticle.fileName", title="{{knownode.targetArticle.fileName}}")
      i.open-in-new-window.icon-download
  span.pull-right.node-count(ng-switch-when="0")
  span.pull-right.node-count(ng-switch-default) {{knownode.targetArticle.edgeCount}}
  div.lineSeperator
  p.knownode-body {{knownode.targetArticle.bodyText}}
  //span {{knownode.edgeCount}}