span
  span(ng-hide="isLoggedIn()")
    a(href="/login") Login/Register
  span(ng-show="isLoggedIn()") Hello {{userDisplayName()}}!
    span
      a.topbar-logout(ng-show="isLoggedIn()", href="/logout") Logout
