span
  span(ng-hide="isLoggedIn()")
    a(href="/login") Login
  span.topbar-login(ng-show="isLoggedIn()") Hello {{userDisplayName()}}!
    span
      a(ng-show="isLoggedIn()", href="/logout") &nbsp;Logout
