span
  span(ng-hide="isLoggedIn()")
    a.btn.btn-link.info(href="/login") Login
  span.hello-user(ng-show="isLoggedIn()") Hello {{userDisplayName()}}!
  a.btn.btn-link.logout(ng-show="isLoggedIn()", href="/logout") &nbsp;Logout
