span
  span(ng-hide="isLoggedIn()")
    a(href="/login") Login/Register
  a(ng-show="isLoggedIn()", ng-href="/user/:{{userKN_ID()}}")
    span Hello {{userDisplayName()}}!
      span
        a.topbar-logout(ng-show="isLoggedIn()", href="/logout") Logout
