div
    div.popover.top.input-indicator
        div.popover-content(style="text-align:center") Create a connection.
          a.tutorial-toggle(onclick="$('body').chardinJs('toggle')") Show instructions
        div.arrow
    div.input-triplet
        div(data-intro='This is the resource "{{concept.title}}". Yep.', data-position="right",resource-input, resource="startResource")
        div(connection-input)
        div(data-intro="Using this box you can paste a link, write a thought or search for something to connect to '{{concept.title}}'", data-position="right", resource-input, resource="endResource")
        div.text-center.input-link-type
            p.text-center.input-link-type-text Why did you make this connection?

            div.btn-group.input-link-type-buttons(data-toggle="buttons-radio")
              button.btn.button-base.button-explain(type="button", ng-click="categoryClick('explain')") to explain
              button.btn.button-base.button-inspire(type="button", ng-click="categoryClick('inspire')") to inspire
              button.btn.button-base.button-critique(type="button", ng-click="categoryClick('critique')") to critique
            div
              button.button-base.button-submit(ng-click="submit(); tutorialOff();", ng-disabled="submitted") Submit
              span.alert(ng-show="submitErrorMessage") {{submitErrorMessage}}
