div
  div.popover.top.input-indicator
    div.popover-content(style="text-align:center") Create a connection.
      a.tutorial-toggle(onclick="$('body').chardinJs('toggle')") Click here for help
    div.arrow
    div.input-triplet
      div(data-intro='{{tutorialText.startResource}}', data-position="right",resource-input, resource="startResource")
      div(connection-input)
      div(data-intro="{{tutorialText.endResource}}", data-position="right", resource-input, resource="endResource")
      div.text-center.input-link-type
        p.text-center.input-link-type-text Why did you make this connection?

        div.btn-group.input-link-type-buttons(data-toggle="buttons-radio")
          button.btn.button-base.button-explain(type="button", ng-click="categoryClick('explain')", ng-class="activeSwitch('active-input')") to explain
          button.btn.button-base.button-inspire(type="button", ng-click="categoryClick('inspire')", ng-class="activeSwitch('active-input')") to inspire
          button.btn.button-base.button-critique(type="button", ng-click="categoryClick('critique')", ng-class="activeSwitch('active-input')") to critique
        div
          button.button-base.button-submit(ng-click="submit(); tutorialOff();", ng-disabled="submitted") Submit
          span.alert(ng-show="submitErrorMessage") {{submitErrorMessage}}
