div.connection-vote-buttons
  div(ng-show="isUserLoggedIn")
    button.btn(ng-click="vote('up')", ng-class="upVoteClass") +
    button.btn(ng-click="vote('down')", ng-class="downVoteClass") -
  div(ng-hide="isUserLoggedIn")
    button.btn(ng-click="showPrompt()", ng-class="upVoteClass") +
    button.btn(ng-click="showPrompt()", ng-class="downVoteClass") -
    span.not-logged-prompt(ng-show="prompt") you need to be logged in to do that
  //div(ng-hide="isUserLoggedIn")
    button.btn(ng-click="openLoginModal()", ng-class="upVoteClass") +
    button.btn(ng-click="openLoginModal()", ng-class="downVoteClass") -