div.btn-group
  button.btn.btn-primary.explain-button(ng-click="vote('up')", ng-class="upVoteClass") vote up
  button.btn.btn-primary.inspire-button(ng-click="vote('down')",ng-class="downVoteClass") vote down