div.subheader
  div.span23.offset1
    h1 About Knownodes

    p
      p Knownodes is a space to explore and create interesting connections between learning resources, concepts, ideas and open questions in research and industry.
      p It is open, free and crowd-sourced and allows anyone to create information-rich connections(knownodes) between online resources, challenges and ideas.
      p At the heart of the system is the Knownode: Two resources connected by an information-rich, categorized and interactive connection that depicts how they are related. The connection between the three creates a simple and readable sentence.
      p Following this structure turns all of us into teachers of others, and lowers the energy barrier of interdisciplinarity and understanding.