div.topbar-gap &nbsp

div.subheader
 div.span23.offset1
   h1 About Knownodes

     p
     img(src="/img/parallel_universe.png", style="width:100%")
     h3(style="margin:0px") In Knownodes you can create links that can be discussed and evolved.
     h3 Together, we are generating a network of associations on a new dimension, parallel to the web.
     p &nbsp
     h3 With your participation, finding state of the art knowledge, discussing ideas and collaborative research can become intuitive and accessible.
     p &nbsp
     h3 Go ahead,
       a(ng-click="tutorialOn()", href="/wiki/Tomato") &nbspLearn how to create a link
       span &nbspand be the hero of your own web!
