div.subheader
 div.span23.offset1
   h1 About Knownodes

   p
     img(src="/img/parallel_universe.png", style="width:100%")
     h3(style="background:white") Knownodes is a parallel universe where all of us can explore and create interesting connections between learning resources, concepts, ideas and open questions.
       p It is open and free and will always remain so.
       p At the heart of the system is the Knownode: Two resources connected by an informative and interactive connection.
       p We can all become a source of knowledge or inspiration to others as well as question the world around us.
