div.footer
  div.footer-margin

    a.btn.btn-link.info(href="/about") About

    a.btn.btn-link.info(href="/newUserGuide") New user info

    a.btn.btn-link.info(href="http://stps.co/r/0EBJTGN/") Open you phd!

    a.btn.btn-link.info(href='https://github.com/CyberCRI/KnowNodes') Fork us on github

    a.btn.btn-link.info(href="/terms") Terms and conditions