div.row.footer
  span
    a.btn.btn-link.info(href="/about") About
  span
    a.btn.btn-link.info(href="/newUserGuide") New user info
  span
    a.btn.btn-link.info(href="http://knownodes.tumblr.com/") Blog
  span
    a.btn.btn-link.info(href='https://github.com/CyberCRI/KnowNodes') Fork us on github
  span
    a.btn.btn-link.info(href="/terms") Terms and conditions
  span
    a.btn.btn-link.info(href="/conceptList") M2 prototype
