div.center-div
  div.l-frontpage-title-setup
  img(src="/img/fg-frontpage.jpg")
  div.frontpage__bg-image
    div.l-frontpage__center
      h3(style="margin:0px") These links can be discussed and evolve.
      h3 Together, we are generating a network of associations on a new dimension, parallel to the web.
      img(src="/img/frontpage-gif.gif", style="width:100%")
      p &nbsp
      h3 With your participation, finding state of the art knowledge, discussing ideas and collaborative research can become intuitive and accessible.
      p &nbsp
      div.video(style="width: 600px; margin:0 auto; position:relative; height: 600px; left:50px, overflow: hidden;")
        iframe(frameborder="0", scrolling="no", seamless="seamless", webkitallowfullscreen="webkitAllowFullScreen", mozallowfullscreen="mozallowfullscreen", allowfullscreen="allowfullscreen", id="okplayer", width="600", height="600", style="width: 600px; height: 600px;", src="https://vine.co/v/hzQwDrQL7Ti/card?mute=0")

      h3 Go ahead,
      h3 create a link, and be the hero of your own web!

  div
    h3.span23.offset1.frontpage__first-timer First timer?
      a( href="/newUserGuide") &nbspGo here.
    h4.span23.offset1 A few connections you could contribute to:
    div.l-frontpage__center
      h4.span23.offset1
        a(href="/concept/57ebbdf1-8ba9-4fe1-8a4a-9a7890fef6f1") Modularity in biology
      h4.span23.offset1
        a(href="/concept/5262bfd2-b77b-48bf-8cd1-1dfbd884a187") What is life?