//div(ng-hide="userDisplayName")
  img(src="/img/frontPageTest.png", ng-hide="userDisplayName", style="width:100%")

div.center-div
  div
    img.center-img(src="/img/logo_600.png")
    h3.intro-image-label Knownodes empowers you to organize the web.
    h3.intro-image-label It enables you to create connections between online resources.
    h3.intro-image-label These links can be discussed and evolve.
  div.intro-image-label
    img(src="/img/animationTest.gif")
    h3.intro-image-label Together, we are generating a network of associations on a new dimension, parallel to the web.
    h3.intro-image-label With your participation, finding state of the art knowledge, discussing ideas and collaborative research can become intuitive and accessible.
  div(style="background:white;")
    div.video(style="width: 600px; margin:0 auto; position:relative; height: 600px; left:50px, overflow: hidden;")
      iframe(frameborder="0", scrolling="no", seamless="seamless", webkitallowfullscreen="webkitAllowFullScreen", mozallowfullscreen="mozallowfullscreen", allowfullscreen="allowfullscreen", id="okplayer", width="600", height="600", style="width: 600px; height: 600px;", src="https://vine.co/v/hB7EjlOVZ11/card?mute=0")
    h3.intro-image-label Go ahead,
    h3.intro-image-label create a link, and be the hero of your own web!

    h3.span24 First timer?
      a( href="/newUserGuide") &nbspGo here.
    h3.span24 A few links you could contribute to:
      a Front end development
      span - a knownodes adaptation of
        a(href="https://gist.github.com/dypsilon/5819504") this great collection


  div
    h3.span24
      a Citizen science
      span - What is citizen science and it's applications

    h3.span24
      a Evolution
      span - Learning materials about evolution

    h3.span24
      a Learning python
      span - Some handy tutorials and books