//div(ng-hide="userDisplayName")
  img(src="/img/frontPageTest.png", ng-hide="userDisplayName", style="width:100%")
div
  img(src="/img/animationTest.gif")

div.span12
  h3.intro-image-label Knownodes empowers you to organize the web.
  h3.intro-image-label It enables you to create connections between online resources.
  h3.intro-image-label These links can be discussed and evolve.
  h3.intro-image-label Together, we are generating a network of associations on a new dimension, parallel to the web.
  h3.intro-image-label With your participation, finding state of the art knowledge, discussing ideas and collaborative research can become intuitive and accessible.

  h3.intro-image-label Go ahead,
  h3.intro-image-label create a link, and be the hero of your own web!
  h3.intro-image-label First timer?
    a( href="/newUserGuide") &nbspGo here.
  h3.intro-image-label A few links you could contribute to:
    a Front end development
    span - a knownodes adaptation of
      a(href="https://gist.github.com/dypsilon/5819504") this great collection


div.span24
  h3.intro-image-label
    a Citizen science
    span - What is citizen science and it's applications

  h3.intro-image-label
    a Evolution
    span - Learning materials about evolution

  h3.intro-image-label
    a Learning python
    span - Some handy tutorials and books

  div.span11(ng-hide="userDisplayName")
    include User/login