div.center-div
  div.l-frontpage-title-setup
  img(src="/img/fg-frontpage.jpg")
  div.frontpage__bg-image
    div.l-frontpage__center
      h3(style="margin:0px") These links can be discussed and evolve.
      h3 Together, we are generating a network of associations on a new dimension, parallel to the web.
      img(src="/img/frontpage-gif.gif", style="width:100%")
      p &nbsp
      h3 With your participation, finding state of the art knowledge, discussing ideas and collaborative research can become intuitive and accessible.
      p &nbsp
      div.video(style="width: 600px; margin:0 auto; position:relative; height: 600px; left:50px, overflow: hidden;")
        iframe(frameborder="0", scrolling="no", seamless="seamless", webkitallowfullscreen="webkitAllowFullScreen", mozallowfullscreen="mozallowfullscreen", allowfullscreen="allowfullscreen", id="okplayer", width="600", height="600", style="width: 600px; height: 600px;", src="https://vine.co/v/hzQwDrQL7Ti/card?mute=0")

      h3 Go ahead,
      h3 create a link, and be the hero of your own web!

  div
    h3.span23.offset1.frontpage__first-timer First timer?
      a(ng-click="tutorialOn()", href="/concept/006dc3b5-495a-4097-ba37-bc99b25c4750") &nbspGo here.
    h4.span23.offset1 A few connections you could contribute to:
    div.l-frontpage__center
      h4.span23.offset1
        a(href="http://www.knownodes.com/concept/25e4a477-1339-4a6f-9d8f-975664d7c2d3") How to design an online community?
      h4.span23.offset1
        a(href="http://www.knownodes.com/concept/f767cf9a-9ce3-4ff2-8c48-250445b99a90") kickstarter
      h4.span23.offset1
        a(href="http://www.knownodes.com/concept/91ddc7d8-1aae-44ff-9605-b3d12a775b98") independent games festival


      //h4.span23.offset1
        a Evolution
        span - Learning materials about evolution

      //h4.span23.offset1
        a Learning python
        span - Some handy tutorials and books