div(class="hero-unit")
    - if (userDisplayName)
        p Hello  #{userDisplayName},
    - else
        p Hello Someone! Please&nbsp;
            a(href='/login') Login
    h2 Welcome to #{title}
    p.lead Knownodes is a cool system that let you define the connections and relations between two pieces of information
