div.subheader
  div.span23.offset1
    h2 New user guide

    p Welcome to the Knownodes project!
      |A collaborative website that focuses on relating and defining connections
      |between Knowledge and ideas. You can go and define a link between any two online resources,
      |or even connect your own open questions and ideas to anything with a URL.

    p We began developing Knownodes almost a year ago, and released an alpha version on the late June, 2013.
      |For now, over 200 connections have been created, and we just got started!

    p We believe knowledge should be more than just physically accessible and free to use, but also
      |accessible by making it as easy to understand as possible. That this can be done if we all pool
      |in and provide context to the knowledge around us.
      |But also by linking it to learning resources, state-of-the-art, and different types of
      |media(video, image, text, animation, games).
      |Our platform is open source and free to use, check our terms of use and our github repository.

    h3 How to contribute?

    p Contribution in Knownodes is mainly made by creating connections and commenting on them.
    |We also provide a way for you to create your own idea or open question and connect to it.

    p Anyone can be a contributor. We all have something that we know well and could be passed
      |to others. We have over several master and phd students contributing but anyone that could
      |make an interesting relation, our would like to share his idea or open question is a valuable contributor.

    p The role of the connections is to make knowledge, ideas and open questions more understandable,
      |Inspire others or help think critically about the world around us.

    p Knownodes has currently about 40 contributors, some are researchers who seek to make research more open.
      |Some are enthusiasts of open learning, and link learning resources to wikipedia articles.
      |Others like to receive feedback about their ideas and so connect them to relevant resources associated
      |to them. Others just love to inspire others and connect rich media and art works. You too can contribute!

    p Knownodes is a system focused on the connections, as such, it enables having different perspectives
      |about how things are connected. If you see a connection you think isn't great,
      |you can always create a new link between the resources. In a few weeks we will implement
      |a peer-review system that will allow you to rate the quality of the links.

    p There are many ways to participate in Knownodes, creating links, commenting on links,
      |creating parallel links to existing links, sharing your ideas and questions and connecting them.

    h3 Guideline
    p The purpose of knownodes is to untangle the web and make it more accessible, not the reverse!
      |In order to achieve that there are certain standards our community needs to adhere:

    ol When creating a link, it's very important that you'll write a full, coherent
      |sentence why are the resources connected.
    ol Be descriptive and neutral, the place of discussion is in the comments.
    ol Avoid using jargon, or highly specialised words in that sentence - always keep in mind your
      |description would be read by a non-expert.
    ol Interact with respect and civility to other contributors.
    ol Be bold! We tend to be humble about how much we can contribute, but in fact, each contribution makes
      |the network stronger.

    h3 What we are not.
    ol We are not wikipedia - We are not an Encyclopedia, and though we have strong integration
      |and support for linking to wikipedia articles, the place to debate about the articles themselves is in wikipedia.
    ol We are not a news aggregator - Sharing interesting links is a great way to spread knowledge,
      |but in Knownodes, without a proper link description, they are not considered the appropriate way to share them

    em Most importantly, just know that there are no mistakes, in case someone disagrees with you, he can just create a parallel connection, or comment or your connection, we suggest that you'll do the same.

    h3 Have further question?
    p Email us at: knownodes@gmail.com
    p Technical issues should be posted on our
      a(href="https://github.com/CyberCRI/KnowNodes/issues") issue page on github

    h3 Want to help improve our code?
    p There are many ways to help:
    p you can jump straight ahead to the source code: https://github.com/CyberCRI/KnowNodes/
      | we have instructions how to start your own instance, feel free to post issues or push improvements, this website is build through people like who help up improve our code.
    p We also organise hackathons a few times a year - announcement would be placed on github

    p Happy connecting!