div(class="nav-bar-top", title="Knownodes")
    ul(class="nav", role="navigation")
        a.nav-location(href="#") Home
        a.nav-location(href="/conceptList") Concepts
        a.nav-location(href="/addConcept", ng-show="isUserLoggedIn") Add your concept
    ul(class="nav pull-right", role="navigation")
        a.nav-location-login(href="/login") Login