div.topbar
  a(href='#')
    img.topbar-logo(src="/img/knownodes-logo.png")
  span.topbar-search(search-box)
  span
      a.button-a.button-dark(ng-href="/map/{{resourceId}}", ng-show="mapButton") Map mode
      a.button-a.button-dark(ng-href="/article/{{resourceId}}", ng-show="resourceButton") List mode
      span(notifications)
      span.topbar-login(top-bar-login)
