div.header.row.topbar
  div.span23.offset1
    a#github(href='https://github.com/CyberCRI/KnowNodes') Fork us on github

    div#logo
      a(href='#')
        img#logo(src="img/KnownodesLogo.jpg")
    span.top-bar-login
    //span
      a.btn.btn-link.info(href="/knownodeList") View knownodes
    span
        a.btn.btn-link.info(href="/conceptList") View concepts
    span
        a.btn.btn-link.info(href="/conceptGraph") View map
    span
        a.btn.btn-link.info(href="/addConcept", ng-show="isLoggedIn()") Add new concept
    span
        a.btn.btn-link.info(href="/about") About
    span
        a.btn.btn-link.info(href="http://knownodes.tumblr.com/") Blog




div.headerLine.row
  div.line.span24
