div.header.row.topbar
  div.span23.offset1
    a#github(href='https://github.com/liadMagen/KnowNodes') Fork us on github

    div#logo
      a(href='#')
        img#logo(src="img/KnownodesLogo.jpg")
    span.top-bar-login
    //span
      a.btn.btn-link.info(href="/knownodeList") View knownodes
    span
      a.btn.btn-link.info(href="/conceptList") View concepts
    span
      a.btn.btn-link.info(href="/addConcept", ng-show="isLoggedIn()") Add new concept

    //span
      button.btn.btn-link.info(ng-click="showtoggle= toggle('show')") Create new Knownode
    //a.info(href='/addPostURL/{{conceptId}}') Create new Knownode
    //a(href='/about') About
    //a(href='/contact') Contact us

div.headerLine.row
  div.line.span24
