div.topbar
  a(href='#')
    img.topbar-logo(src="img/KnownodesLogo.png")
  span.topbar-search(search-box)
  span
      a.btn.btn-link(ng-href="/map/{{resourceId}}", ng-show="mapButton") View map
      a.btn.btn-link(ng-href="/article/{{resourceId}}", ng-show="resourceButton") View list
      span(top-bar-login)
