div.topbar
  a(href='#')
    img.topbar-logo(src="/img/knownodes-logo.png")
  span.topbar-search(search-box)
  span
      a.button-a.button-dark(href="/graph/{{resourceId}}", ng-show="mapButton", target="_self") Graph View
      a.button-a.button-dark(href="/graph/{{resourceId}}/user", ng-show="usermapButton", target="_self") User Graph
      a.button-a.button-dark(ng-href="/article/{{resourceId}}", ng-show="resourceButton") List View
      span(notifications)
      span.topbar-login(top-bar-login)
